{% extends 'base.html.twig' %}

{% block title %}{{ 'view.create_new_step_two'|trans }}{% endblock %}

{% block content %}
  <h1 class="page-title">{{ 'view.create_new_step_two'|trans }}</h1>
  <div>
    {{ 'view.create_step2_description'|trans }}
  </div>

  {{ form_start(form) }}
  {{ form_row(form.projects) }}
  <button class="button">{{ 'view.action_next'|trans }}</button>
  {{ form_end(form) }}

  <div class="bottom-actions">
    <a class="link" href="{{ path('app_view_add_abandon', {viewId: viewId}) }}">{{ 'view.back_to_list'|trans }}</a>
  </div>
{% endblock %}
