{% extends 'base.html.twig' %}

{% block title %}{{ 'view.create_new_step_one'|trans }}{% endblock %}

{% block content %}
  <h1 class="page-title">{{ 'view.create_new_step_one'|trans }}</h1>

  {{ form_start(form) }}

  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.dataProviders) }}

  <button class="button">{{ 'view.action_next'|trans }}</button>
  {{ form_end(form) }}

  <div class="bottom-actions">
    <a class="link" href="{{ path('app_view_add_abandon', {view: view}) }}">{{ 'view.back_to_list'|trans }}</a>
  </div>
{% endblock %}
