{% extends 'base.html.twig' %}

{% block title %}{{ 'view.list_title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'view.list_title'|trans }}</h1>

    <div>{{ 'view.list_description'|trans }}</div>

    {% set numberOfColumns = 3 %}

    <table class="table margin-bottom">
        <thead class="table-thead">
        <tr>
            <th class="table-th">{{ 'view.list_name'|trans }}</th>
            <th class="table-th">{{ 'view.list_date'|trans }}</th>
            <th class="table-th">{{ 'view.list_actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, view in views %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">
                    <a class="link" href="{{ path('app_view_display', {'id': view.id}) }}">
                        {{ view.name }}
                    </a>
                </td>
                <td class="table-td">{{ view.createdAt|date('Y-m-d H:i:s') }}</td>
                <td class="table-td">
                    <a class="link" href="{{ path('app_view_delete_confirm', {'id': view.id}) }}">
                        {{ 'view.list_delete'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% if views is empty %}
            <tr class="table-tr">
                <td class="table-td"
                    colspan="{{ numberOfColumns }}">{{ 'view.list_no_records_found'|trans }}</td>
            </tr>
        {% endif %}
        <tr class="table-tr">
            <td class="table-td" colspan="{{ numberOfColumns }}">
                <a class="link" href="{{ path('app_view_add', {}|merge(view is defined ? {view: view} : {})) }}">
                    {{ 'view.action_create_new'|trans }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
