<table class="w-full text-left border-collapse">

  <tbody class="">
    <tr>
      <td class="py-2 pr-2">{{ 'view.display_name'|trans }}</td>
      <td class="py-2 pr-2">{{ data.name }}</td>
    </tr>
    <tr>
      <td class="py-2 pr-2">{{ 'view.display_description'|trans }}</td>
      <td class="py-2 pr-2">{{ data.description }}</td>
    </tr>
    <tr>
      <td class="py-2 pr-2">{{ 'view.display_installations'|trans }}</td>
        <td class="comma-list">
          {% for index, provider in data.dataProviders %}
            <span>
              {{ provider.getName() }}
            </span>
          {% endfor %}
        </td>
    </tr>
    <tr>
      <td class="py-2 pr-2">{{ 'view.display_projects'|trans }}</td>
      <td class="comma-list">
        {% for index, project in data.projects %}
          <span>
            {{ project.getName() }}
          </span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="py-2 pr-2">{{ 'view.display_workers'|trans }}</td>
      <td class="comma-list">
        {% for index, worker in data.workers %}
          <span>
              {{ worker }}
            </span>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>