{% extends 'base.html.twig' %}

{% block title %}{{ 'worker.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'worker.edit'|trans }}</h1>

    {{ form_start(form) }}
    <div class="grid-split-2 selections">
        {{ form_rest(form) }}
    </div>
    <button class="button mt-3">{{ 'worker.action_save'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a href="{{ path('app_worker_index') }}">{{ 'worker.back_to_list'|trans }}</a>
    </div>
{% endblock %}
