{% extends 'base.html.twig' %}

{% block title %}{{ 'account.edit'|trans}}{% endblock %}

{% block content %}
    <h1>{{ 'account.edit'|trans}}</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('account/_delete_form.html.twig') }}
    <a class="btn" href="{{ path('app_account_index') }}">{{ 'account.back_to_list'|trans}}</a>
{% endblock %}
