{% extends 'base.html.twig' %}

{% block title %}{{ 'accounts.edit'|trans}}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'accounts.edit'|trans}}</h1>

    {{ form_start(form) }}
        <div class="grid-split-2 selections" {{ stimulus_controller('choices') }}>
            {{ form_widget(form) }}
        </div>
        <button class="button mt-3">{{ 'accounts.action_save'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_account_index', {}|merge(view is defined ? {view: view} : {})) }}">{{ 'accounts.back_to_list'|trans }}</a>
        {{ include('account/_delete_form.html.twig') }}
    </div>
{% endblock %}
