{% extends 'base.html.twig' %}

{% block title %}{{ 'accounts.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'accounts.title'|trans }}</h1>

    <table class="table margin-bottom">
        <thead class="table-thead">
            <tr>
                <th class="table-th">{{ 'accounts.id'|trans }}</th>
                <th class="table-th">{{ 'accounts.name'|trans }}</th>
                <th class="table-th">{{ 'accounts.value'|trans }}</th>
                <th class="table-th">{{ 'accounts.source'|trans }}</th>
                <th class="table-th">{{ 'accounts.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for index, account in accounts %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ account.id }}</td>
                <td class="table-td">{{ account.name }}</td>
                <td class="table-td">{{ account.value }}</td>
                <td class="table-td">{{ account.source ? account.source : 'accounts.manual'|trans }}</td>
                <td class="table-td">
                    {% if account.source is empty %}
                        <a class="link" href="{{ path('app_account_edit', {'id': account.id}) }}">{{ 'accounts.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="table-tr">
                <td colspan="4">{{ 'accounts.no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="link" href="{{ path('app_account_new') }}">{{ 'accounts.create_new'|trans }}</a>
{% endblock %}
