{% extends 'base.html.twig' %}

{% block title %}{{ 'account.title'|trans }}{% endblock %}

{% block content %}
    <a class="link" href="{{ path('app_account_new', {}|merge(view is defined ? {view: view} : {})) }}"
       style="float: right">{{ 'accounts.action_create_new'|trans }}</a>

    <h1 class="page-title">{{ 'account.title'|trans }}</h1>

    {% set numberOfColumns = 6 %}

    {# TODO: Add pagination, sorting and filters #}

    <table class="table margin-bottom">
        <thead class="table-thead">
        <tr>
            <th class="table-th">{{ 'accounts.id'|trans }}</th>
            <th class="table-th">{{ 'accounts.name'|trans }}</th>
            <th class="table-th">{{ 'accounts.value'|trans }}</th>
            <th class="table-th">{{ 'accounts.status'|trans }}</th>
            <th class="table-th">{{ 'accounts.category'|trans }}</th>
            <th class="table-th">{{ 'accounts.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, account in accounts %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ account.id }}</td>
                <td class="table-td">{{ account.name }}</td>
                <td class="table-td">{{ account.value }}</td>
                <td class="table-td">{{ account.status }}</td>
                <td class="table-td">{{ account.category }}</td>
                <td class="table-td">
                    <a class="link" href="{{ path('app_account_edit', {'id': account.id}|merge(view is defined ? {view: view} : {})) }}">{{ 'accounts.action_edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr class="table-tr">
                <td class="table-td"
                    colspan="{{ numberOfColumns }}">{{ 'accounts.list_no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        <tr class="table-tr">
            <td class="table-td" colspan="{{ numberOfColumns }}">
                <a class="link" href="{{ path('app_account_new', {}|merge(view is defined ? {view: view} : {})) }}">
                    {{ 'accounts.action_create_new'|trans }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
