{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block content %}
     <h1 class="page-title">{{ 'account.title'|trans }}</h1>

    <table class="table margin-bottom">
        <thead class="table-thead">
            <tr>
                <th class="table-th">Id</th>
                <th class="table-th">Name</th>
                <th class="table-th">Value</th>
                <th class="table-th">ProjectTrackerId</th>
                <th class="table-th">Status</th>
                <th class="table-th">Category</th>
                <th class="table-th">CreatedBy</th>
                <th class="table-th">UpdatedBy</th>
                <th class="table-th">CreatedAt</th>
                <th class="table-th">UpdatedAt</th>
                <th class="table-th">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for index, account in accounts %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ account.id }}</td>
                <td class="table-td">{{ account.name }}</td>
                <td class="table-td">{{ account.value }}</td>
                <td class="table-td">{{ account.projectTrackerId }}</td>
                <td class="table-td">{{ account.status }}</td>
                <td class="table-td">{{ account.category }}</td>
                <td class="table-td">{{ account.createdBy }}</td>
                <td class="table-td">{{ account.updatedBy }}</td>
                <td class="table-td">{{ account.createdAt ? account.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table-td">{{ account.updatedAt ? account.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table-td">
                    <a href="{{ path('app_account_show', {'id': account.id}) }}">show</a>
                    <a href="{{ path('app_account_edit', {'id': account.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_account_new') }}">Create new</a>
{% endblock %}
