{% extends 'base.html.twig' %}

{% block title %}{{ 'accounts.create_new'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'accounts.create_new'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button">{{ 'accounts.action_save'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_account_index') }}">{{ 'accounts.back_to_list'|trans }}</a>
    </div>
{% endblock %}
