{% extends 'base.html.twig' %}

{% block title %}{{ 'account.new'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'account.new'|trans }}</h1>

    {{ form_start(form) }}
    <div>
        {{ form_rest(form) }}
        <button class="button">{{ 'account.action_create'|trans }}</button>
    </div>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_account_index', {viewId: viewId}) }}">{{ 'account.back_to_list'|trans }}</a>
    </div>
{% endblock %}
