{% extends 'base.html.twig' %}

{% block title %}{{ 'version.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'version.title'|trans }}</h1>

    {{ form_start(form) }}
    <div class="form-default">
        {{ form_row(form.name) }}
        {{ form_row(form.isBillable) }}
        <div>
            <button class="button form-element">{{ 'version.search'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

    {{ include('components/alert.html.twig', {text: 'version.information'|trans, level: 'info'}) }}

    {% set number_of_columns = 9 %}

    <table class="table margin-bottom">
        <thead class="table-th">
        <tr>
            <th class="table-th{% if versions.isSorted('version.name') %} sorted{% endif %}">{{ knp_pagination_sortable(versions, 'version.name'|trans, 'version.name') }}</th>
            <th class="table-th{% if versions.isSorted('version.project') %} sorted{% endif %}">{{ knp_pagination_sortable(versions, 'version.project'|trans, 'version.project') }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th class="table-th">{{ 'version.is_billable'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for index, version in versions %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ version.name }}</td>
                <td class="table-td">{{ version.project.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="table-td">
                        <label class="toggle-label" {{ stimulus_controller('toggle') }} data-update-url="{{ path('app_version_is_billable', {id: version.id}) }}">
                            <input type="checkbox" value="" class="sr-only peer" {{ stimulus_action('toggle', 'toggle') }} {{ stimulus_target('toggle', 'checkbox') }} {{ version.isBillable ? 'checked' : '' }}>
                            {{ include('components/checkbox.html.twig') }}
                            <span class="toggle-text" {{ stimulus_target('toggle', 'text') }}></span>
                        </label>
                    </td>

                {% endif %}
            </tr>
        {% endfor %}
        {% if versions is empty %}
            <tr class="table-tr">
                <td class="table-td" colspan="{{ number_of_columns }}">{{ 'version.list_no_records_found'|trans }}</td>
            </tr>
        {% endif %}
        <tr class="table-tr">
            <td class="table-td" colspan="{{ number_of_columns }}" class="text-right">
                {{ knp_pagination_render(versions) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
