{% if is_granted(role) %}
<div class="card">
    <a href="{{ route }}">
        <h5 class="card-header break-words">{{ title }}</h5>
    </a>
    <p class="card-text break-words">{{ description }}</p>
    <a href="{{ route }}" class="card-link">
        {{ title }}
    </a>
</div>
{% endif %}
