{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.title'|trans }}
{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'dashboard.title'|trans }}</h1>

    <div class="mb-3 mt-3 text-bold">{{ 'dashboard.logged_in_as'|trans({'%name%': userName}) }}</div>

    {% if dashboardData is defined and dashboardData is not null %}
        <div class="grid-split-three mb-5">
            {{ include('home/card.html.twig', {
                title: 'dashboard.work_hours'|trans({'%year%': dashboardData.year}),
                description: 'dashboard.work_hours_value'|trans({'%value%': (dashboardData.workHours >= 0 ? '+' : '') ~ dashboardData.workHours|round(2, 'floor')}),
                descriptionClasses: dashboardData.workHours >= 0 ? 'text-green-500' : 'text-red-500'
            }) }}
            {{ include('home/card.html.twig', {
                title: 'dashboard.norm'|trans,
                description: 'dashboard.norm_value'|trans({'%value%': dashboardData.norm|round(2, 'floor')}),
            }) }}
        </div>
        <div class="card max-w-full mb-5">
            <h5 class="card-header">{{ 'dashboard.work_hours_months'|trans }}</h5>
            <table class="table table-fixed text-right">
                <thead>
                {% for m in 1..12 %}
                    <th class="py-1">{{ date('2025-' ~ m ~ '-01')|date('M') }}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for m in 1..12 %}
                    {% if dashboardData.monthStatuses[m] is defined %}
                        {% set value = dashboardData.monthStatuses[m] %}
                        <td class="{{ value >= 0 ? 'text-green-500' : 'text-red-500' }}">
                            {{ (value >= 0 ? '+' : '') ~ value|round(2, 'floor') }}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card max-w-full mb-5">
            <h5 class="card-header">{{ 'dashboard.work_hours_weeks'|trans }}</h5>
            <table class="table table-fixed text-right mb-3">
                <tbody>
                {% for i in 0..4 %}
                    {% set start = (i * 13) + 1 %}
                    {% set end = start + 12 %}
                    <tr>
                        {% for w in start..end %}
                            <td class="py-1">
                                {% if dashboardData.weekStatuses[w] is defined %}
                                    <strong>{{ w }}</strong>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for w in start..end %}
                            {% if dashboardData.weekStatuses[w] is defined %}
                                {% set value = dashboardData.weekStatuses[w] %}
                                <td class="pb-5 {{ value >= 0 ? 'text-green-500' : 'text-red-500' }}">
                                    {{ (value >= 0 ? '+' : '') ~ value|round(2, 'floor') }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% else %}
        {{ 'dashboard.no_user_data'|trans }}
    {% endif %}
{% endblock %}
