{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.title'|trans }}
{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'dashboard.title'|trans }}</h1>

    <div class="mb-3 mt-3 text-bold">{{ 'dashboard.logged_in_as'|trans({'%name%': userName}) }}</div>

    {% if dashboardData is defined and dashboardData is not null %}
        <div class="grid-split-three mb-5">
            {{ include('home/card.html.twig', {
                title: 'dashboard.work_hours'|trans({'%year%': dashboardData.year}),
                description: 'dashboard.work_hours_value'|trans({'%value%': (dashboardData.workHours >= 0 ? '+' : '') ~ dashboardData.workHours|round(2, 'floor')}),
                descriptionClasses: dashboardData.workHours >= 0 ? 'text-green-500' : 'text-red-500'
            }) }}
            {{ include('home/card.html.twig', {
                title: 'dashboard.norm'|trans,
                description: 'dashboard.norm_value'|trans({'%value%': dashboardData.norm|round(2, 'floor')}),
            }) }}
        </div>
        <div class="card max-w-full mb-5">
            <h5 class="card-header">{{ 'dashboard.work_hours_months'|trans }}</h5>
            <table class="table">
                <thead>
                {% for key, value in dashboardData.monthStatuses %}
                    <th>{{ date('2025-' ~ key ~ '-01')|date('M') }}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for key, value in dashboardData.monthStatuses %}
                    <td class="{{ value >= 0 ? 'text-green-500' : 'text-red-500' }}">
                        {{ (value >= 0 ? '+' : '') ~ value|round(2, 'floor') }}
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card max-w-full mb-5">
            <h5 class="card-header">{{ 'dashboard.work_hours_weeks'|trans }}</h5>
            {# Split weeks into 5 tables #}
            {% for i in 0..4 %}
            <table class="table text-right mb-3">
                <thead>
                {% for key, value in dashboardData.weekStatuses %}
                    {% if key > i * 13 and key <= (i + 1) * 13 %}
                        <th style="width: 80px !important;">{{ key }}</th>
                    {% endif %}
                {% endfor %}
                </thead>
                <tbody>
                {% for key, value in dashboardData.weekStatuses %}
                    {% if key > i * 13 and key <= (i + 1) * 13 %}
                        <td class="{{ value >= 0 ? 'text-green-500' : 'text-red-500' }}">
                            {{ (value >= 0 ? '+' : '') ~ value|round(2, 'floor') }}
                        </td>
                    {% endif %}
                {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        {{ 'dashboard.no_user_data'|trans }}
    {% endif %}
{% endblock %}
