{% extends 'base.html.twig' %}

{% block title %}{{ 'service_agreement.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'service_agreement.edit'|trans }}</h1>

    <div class="mb-4 text-sm text-gray-500 dark:text-gray-400">
        <p>{{ 'service_agreement.created_at'|trans }}: {{ service_agreement.createdAt ? service_agreement.createdAt|date('d/m Y H:i') : '-' }}</p>
        <p>{{ 'service_agreement.updated_at'|trans }}: {{ service_agreement.updatedAt ? service_agreement.updatedAt|date('d/m Y H:i') : '-' }}</p>
    </div>

    {{ form_start(form) }}
    <div class="selections" {{ stimulus_controller('choices eol-required') }}>
        {{ form_rest(form) }}
    </div>
    <button class="button mt-3">{{ 'clients.action_save'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link"
           href="{{ path('app_service_agreement_index') }}">{{ 'service_agreement.back_to_list'|trans }}</a>
        {{ include('service_agreement/_delete_form.html.twig') }}
    </div>
{% endblock %}
