{% extends 'base.html.twig' %}

{% block title %}{{ 'service_agreement.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'service_agreement.edit'|trans }}</h1>

    {{ form_start(form) }}
    <div class="selections" {{ stimulus_controller('choices') }}>
        {{ form_rest(form) }}
    </div>
    <button class="button mt-3">{{ 'clients.action_save'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link"
           href="{{ path('app_service_agreement_index') }}">{{ 'service_agreement.back_to_list'|trans }}</a>
        {{ include('service_agreement/_delete_form.html.twig') }}
    </div>
{% endblock %}
