{% extends 'base.html.twig' %}

{% block title %}{{ 'service_agreement.new'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'service_agreement.new'|trans }}</h1>

    {{ form_start(form) }}
    <div class="selections">
        {{ form_rest(form) }}
    </div>
    <button class="button">{{ 'service_agreement.action_create'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_service_agreement_index') }}">{{ 'service_agreement.back_to_list'|trans }}</a>
    </div>
{% endblock %}
