{% extends 'base.html.twig' %}

{% block title %}{{ 'serviceAgreement.new'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'serviceAgreement.new'|trans }}</h1>

    {{ form_start(form) }}
    <div class="selections" {{ stimulus_controller('choices') }}>
        {{ form_rest(form) }}
    </div>
    <button class="button">{{ 'serviceAgreement.action_create'|trans }}</button>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_service_agreement_index') }}">{{ 'serviceAgreement.back_to_list'|trans }}</a>
    </div>
{% endblock %}
