{% extends 'base.html.twig' %}

{% block title %}{{ 'hour_report.title'|trans }}{% endblock %}

{% block content %}
    {% if error is defined and error is not null %}
        {{ include('components/alert.html.twig', {level: 'danger', text: error}) }}
    {% endif %}

    {% embed 'components/page-header.html.twig' with {
        title: (mode ~ '.title')|trans(),
    } %}
        {% block actions %}
            {% if project is defined and project is not null %}
                <span
                    style="margin-left: 1em" {{ stimulus_controller('sync') }} data-update-url="{{ path('app_project_sync', {id: project.id}) }}">
                    <button class="button" {{ stimulus_action('sync', 'sync') }} {{ stimulus_target('sync', 'button') }}>
                        {{ 'hour_report.sync_project_action'|trans }}
                    </button>
                    <span class="sync-text" {{ stimulus_target('sync', 'text') }}></span>
                </span>
            {% endif %}
            {% if mode == 'hour_report' %}
                {{ include('components/subscribe-button.html.twig',
                    {
                        type: 'subscribe',
                        default_text: 'subscribe_button.subscribe'|trans,
                        success_text: 'subscribe_button.unsubscribe'|trans,
                        url: path('app_subscription_check', {id: app.user.id}),
                        params: app.request.query.all|json_encode,
                        reload: false,
                    }) }}
            {% endif %}
        {% endblock %}
    {% endembed %}

    {{ form_start(form) }}
    {% if form.dataProvider is defined %}
        {{ form_row(form.dataProvider) }}
    {% endif %}
    {{ form_end(form) }}

    {% if data is not empty %}
        <div class="planning-wrapper loading" {{ stimulus_controller('loader') }}>
            {% if mode is defined %}
                {{ include('reports/' ~ mode ~ '.html.twig') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
