<div id="scrollContainer" class="overflow-x-auto w-full" {{ stimulus_controller('show-hide') }}
     data-storage-key="hidePlanningAssignees">
    <table
        class="table-auto border-separate border-spacing-0 border border-slate-600 relative" {{ stimulus_controller('planning-scroll') }}>
        <thead>
        <tr>
            <th class="text-left px-2 sticky left-0 z-10 border border-slate-600 bg-slate-100 dark:bg-slate-700 py-3">{{ 'workload_report.worker'|trans }}</th>
            <th class="text-left px-2 sticky left-0 z-10 border border-slate-600 bg-slate-100 dark:bg-slate-700 py-3">
                {{ 'workload_report.workload'|trans }}
            </th>
            {% for periodNumeric, period in data.period %}
                <th class="text-center px-2 sticky left-0 z-10 border border-slate-600 bg-slate-100 dark:bg-slate-700 py-3 whitespace-nowrap
{{ (data.currentPeriodNumeric is defined) and (periodNumeric is same as(data.currentPeriodNumeric)) ? 'bg-slate-300 dark:bg-slate-800' : 'bg-slate-100 dark:bg-slate-700' }}
"
                    {{ (data.currentPeriodNumeric is defined) and (periodNumeric is same as(data.currentPeriodNumeric)) ? 'id="activeSprint"' : '' }}
                    {{ loop.index == 1 ? 'id="firstSprint"' : '' }}
                    data-index="{{ loop.index }}"
                    {{ (data.currentPeriodNumeric is defined) and (periodNumeric is same as(data.currentPeriodNumeric)) ? 'data-active="true"' : '' }}
                    {{ stimulus_target('planning-scroll', 'column') }}
                >

                    {% if data.viewmode == 'week' %}
                        {{ 'workload_report.week'|trans }} {{ period }}
                    {% else %}
                        {{ period }}
                    {% endif %}
                </th>
            {% endfor %}
            <th title="{{ 'workload_report.total_describe'|trans }}" class="text-center px-2 sticky left-0 z-10 border border-slate-600 bg-slate-100 dark:bg-slate-700 py-3 whitespace-nowrap cursor-help">
               <span class="flex justify-evenly"> {{ 'workload_report.total'|trans }}   {{ include('components/icons.html.twig', {icon: 'info', class: 'w-5 h-5'}) }}</span>
            </th>
        </tr>
        </thead>

        {% for worker in data.workers %}

            <tbody {{ stimulus_controller('toggle-parent-child') }} data-toggle-id="{{ worker.email }}" {{ stimulus_target('show-hide', 'entry') }}>

            <tr>
                <td class="text-left py-2 px-2 sticky left-0 z-10 whitespace-nowrap border border-slate-600 bg-slate-100 dark:bg-slate-900">
                    <div class="flex flex-row">
                        <span class="flex-grow mr-3">
                            {{ worker.name ?? worker.email }}
                        </span>
                        <button class="hide-btn mr-3 w-4"
                                type="button" {{ stimulus_action('show-hide', 'toggleEntry') }}
                                data-toggle-id="{{ worker.email }}" data-toggle-name="{{ worker.email }}"
                                data-toggle-target="button">
                            <i class="fa-solid fa-eye-slash"></i>
                        </button>
                    </div>
                </td>
                <td class="text-center px-3 border border-slate-600">
                    {{ worker.workload }}
                </td>
                {% for periodNumeric, week in worker.loggedPercentage %}
                    <td class="text-center px-3 border border-slate-600
{{ (data.currentPeriodNumeric is defined) and (periodNumeric is same as(data.currentPeriodNumeric)) ? 'bg-slate-300 dark:bg-slate-800' : '' }}
">
                        {{ week ~ '%' }}
                    </td>
                {% endfor %}
                <td class="text-center px-3 border border-slate-600">
                    {{ worker.average ~ '%' }}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <div class="my-5 sticky left-0">
        {{ 'workload_report.hidden-entries'|trans }}:
        <span {{ stimulus_target('show-hide', 'hiddenEntries') }}></span>
    </div>
</div>
