{% extends 'base.html.twig' %}

{% block title %}
    {{ 'create_project_submitted.title'|trans }}
{% endblock %}

{% block content %}
    <div role="alert">
        <h4 class="alert-heading">{{ 'create_project_submitted.title'|trans }}</h4>
        <p class="card-text">{{ 'create_project_submitted.sub_text'|trans }}<br>
        <p>{{ 'create_project_submitted.last_step.text'|trans }}</p>
        <hr>
        <p>
            <a href="{{ url }}" target="_blank">{{ url }}</a>
        </p>
    </div>
    <h3>{{ 'create_project_submitted.project_title'|trans }}</h3>
    <div class="mb-2">
        <span class="label"><strong>{{ 'create_project_form.project_name.label'|trans }}:</strong></span>
        <span class="value">{{ projectName }}</span>
    </div>
    <div class="mb-2">
        <span class="label"><strong>{{ 'create_project_form.project_key.label'|trans }}:</strong></span>
        <span class="value" style="text-transform: uppercase">{{ projectKey }}</span>
    </div>
    <div class="mb-2">
        <span class="label"><strong>{{ 'create_project_form.description.label'|trans }}:</strong></span>
        <span class="value">{{ description }}</span>
    </div>
    <div class="mb-2">
        <span class="label"><strong>{{ 'create_project_form.team.label'|trans }}:</strong></span>
        <span class="value">{{ teamName }}</span>
    </div>
    {% if not newAccount %}
        <div class="mb-2">
            <span class="label"><strong>{{ 'create_project_form.account.label'|trans }}:</strong></span>
            <span class="value">{{ account }}</span>
        </div>
    {% else %}
        <h3 class="mt-4">{{ 'create_project_submitted.account_title'|trans }}</h3>
        <div class="mb-2">
            <span class="label"><strong>{{ 'create_project_form.new_account_name.label'|trans }}:</strong></span>
            <span class="value">{{ newAccountName }}</span>
        </div>
        <div class="mb-2">
            <span class="label"><strong>{{ 'create_project_form.new_account_key.label'|trans }}:</strong></span>
            <span class="value">{{ newAccountKey }}</span>
        </div>
        <div class="mb-2">
            <span class="label"><strong>{{ 'create_project_form.new_account_contact.label'|trans }}:</strong></span>
            <span class="value">{{ newAccountContact }}</span>
        </div>
        {% if not newCustomer %}
            <div class="mb-2">
                <span class="label"><strong>{{ 'create_project_form.new_account_customer.label'|trans }}:</strong></span>
                <span class="value">{{ newAccountCustomer }}</span>
            </div>
        {% else %}
            <h3 class="mt-4">{{ 'create_project_submitted.customer_title'|trans }}</h3>
            <div class="mb-2">
                <span class="label"><strong>{{ 'create_project_form.new_customer_name.label'|trans }}:</strong></span>
                <span class="value">{{ newCustomerName }}</span>
            </div>
            <div class="mb-2">
                <span class="label"><strong>{{ 'create_project_form.new_customer_key.label'|trans }}:</strong></span>
                <span class="value">{{ newCustomerKey }}</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
