{% extends 'base.html.twig' %}

{% block title %}{{ 'product.new'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'product.new'|trans }}</h1>

    {{ include('product/_form.html.twig') }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_product_index', app.request.query.all) }}">{{ 'product.back_to_list'|trans }}</a>
    </div>
{% endblock %}
