{% extends 'base.html.twig' %}

{% block title %}{{ 'sprint_report.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'sprint_report.title'|trans }}</h1>

    <div class="content" {{ stimulus_controller('sprint-report') }} data-budget-update-endpoint="{{ budgetEndpoint }}">
        <div class="selections" {{ stimulus_controller('choices') }}>
            {{ form(form) }}
        </div>

        {% if report is defined and report is not null %}
            <a type="button" class="button" href="{{ path('app_sprint_report_pdf', {projectId: data.project.id, versionId: data.version.id}) }}">{{ 'sprint_report.render_as_pdf'|trans }}</a>
        {% endif %}

        <div id="report" {{ stimulus_target('sprint-report', 'content') }}>
            {% if report is defined and report is not null %}
                {{ include('sprint_report/report.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
