<div>
    <h3 class="subheading">{{ 'sprint_report.heading_overview'|trans }}</h3>
    <table class="table-auto">
        <tbody>
        <tr>
            <td class="table-cell-heading">{{ 'sprint_report.sub.project'|trans }}</td>
            <td class="table-cell">{{ report.projectName }}</td>
        </tr>
        <tr>
            <td class="table-cell-heading">{{ 'sprint_report.sub.version'|trans }}</td>
            <td class="table-cell">{{ report.versionName }}</td>
        </tr>
        {% if budget is defined %}
            <tr>
                <td class="table-cell-heading"><label
                            for="input-budget">{{ 'sprint_report.sub.budget'|trans }}</label></td>
                <td class="table-cell">
                    <form>
                        <input type="number" id="input-budget" class="sprint-report-input"
                               value="{{ budget ? budget.budget : '' }}"
                               data-project-id="{{ data.projectId }}"
                               data-version-id="{{ data.versionId }}"
                               data-sprint-report-target="budget"
                        >
                        <button type="button" class="button m-0" data-action="sprint-report#submitBudget"
                                data-sprint-report-target="budgetSubmit">
                            {{ 'sprint_report.save_budget'|trans }}
                        </button>
                    </form>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="table-cell-heading">{{ 'sprint_report.sub.spent_hours'|trans }}</td>
            <td class="table-cell">
                <span id="spent_hours" data-sprint-report-target="spentHours">{{ report.spentHours }}</span>
            </td>
        </tr>
        <tr>
            <td class="table-cell-heading">{{ 'sprint_report.sub.remaining_hours'|trans }}</td>
            <td class="table-cell" id="remaining_hours">
                {{ report.remainingHours }}
            </td>
        </tr>
        <tr>
            <td class="table-cell-heading">{{ 'sprint_report.sub.project_hours'|trans }}</td>
            <td class="table-cell" id="project_hours">
                {{ report.projectHours }}
            </td>
        </tr>
        {% if budget is defined %}
            <tr>
                <td class="table-cell-heading"><label
                            for="input_finished_degree">{{ 'sprint_report.sub.finished_degree'|trans }}</label></td>
                <td class="table-cell">
                    <input type="number" id="input_finished_degree" class="sprint-report-input" data-sprint-report-target="finishedPercentage"
                           max="100" min="0">
                </td>
            </tr>
            <tr>
                <td class="table-cell-heading">{{ 'sprint_report.sub.project_forecast'|trans }}</td>
                <td class="table-cell" data-sprint-report-target="projectTotalForecast"></td>
            </tr>
            <tr>
                <td class="table-cell-heading">{{ 'sprint_report.sub.over_under_index'|trans }}</td>
                <td class="table-cell" data-sprint-report-target="overUnderIndex"></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div>
    <h3 class="subheading">{{ 'sprint_report.heading_phases'|trans }}</h3>
    <table class="table-auto">
        <thead>
        <tr>
            <th class="table-cell">{{ 'sprint_report.table.epic'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.estimate'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.remaining_hours'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.registered_hours'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for epic in report.epics %}
            <tr>
                <td class="table-cell">{{ epic.name }}</td>
                <td class="table-cell">{{ epic.originalEstimateSum / 60 / 60 }}</td>
                <td class="table-cell">{{ epic.remainingSum / 60 / 60 }}</td>
                <td class="table-cell">{{ epic.spentSum / 60 / 60 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="table-cell">{{ report.originalEstimateSum / 60 / 60 }}</td>
            <td class="table-cell">{{ report.remainingHours }}</td>
            <td class="table-cell">{{ report.spentHours }}</td>
        </tr>
        </tbody>
    </table>
</div>

<pagebreak />
<div>
    <h3 class="subheading">{{ 'sprint_report.heading_spent_hours'|trans }}</h3>
    <table class="table-auto">
        <thead>
        <tr>
            <th class="table-cell">{{ 'sprint_report.table.epic'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.estimate'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.reg'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.no_sprint'|trans }}</th>
            {% for sprint in report.sprints %}
                {% if sprint.state != 'FUTURE' %}
                    <th class="table-cell">{{ sprint.name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for epic in report.epics %}
            <tr>
                <td class="table-cell">{{ epic.name }}</td>
                <td class="table-cell">{{ epic.originalEstimateSum / 60 / 60 }}</td>
                <td class="table-cell">{{ epic.spentSum / 60 / 60 }}</td>
                <td class="table-cell">
                    {% if epic.loggedWork.containsKey('NoSprint') %}
                        {{ epic.loggedWork.get('NoSprint') / 60 / 60 }}
                    {% endif %}
                </td>
                {% for sprint in report.sprints %}
                    {% if sprint.state != 'FUTURE' %}
                        <td class="table-cell">
                            {% if epic.loggedWork.containsKey(sprint.id) %}
                                {{ epic.loggedWork.get(sprint.id) / 60 / 60 }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<pagebreak />
<div>
    <h3 class="subheading">{{ 'sprint_report.heading_planned_hours'|trans }}</h3>
    <table class="table-auto">
        <thead>
        <tr>
            <th class="table-cell">{{ 'sprint_report.table.epic'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.estimate'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.remaining_hours'|trans }}</th>
            <th class="table-cell">{{ 'sprint_report.table.planned_work_sum'|trans }}</th>
            {% for sprint in report.sprints %}
                {% if sprint.state == 'FUTURE' or sprint.state == 'ACTIVE' %}
                    <th class="table-cell">{{ sprint.name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for epic in report.epics %}
            <tr>
                <td class="table-cell">{{ epic.name }}</td>
                <td class="table-cell">{{ epic.originalEstimateSum / 60 / 60 }}</td>
                <td class="table-cell">{{ epic.remainingSum / 60 / 60 }}</td>
                <td class="table-cell">{{ epic.plannedWorkSum / 60 / 60 }}</td>
                {% for sprint in report.sprints %}
                    {% if sprint.state == 'FUTURE' or sprint.state == 'ACTIVE' %}
                        <td class="table-cell">
                            {% if epic.remainingWork.containsKey(sprint.id) %}
                                {{ epic.remainingWork.get(sprint.id) / 60 / 60 }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
