{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ invoice.name }}</h1>

    {{ form_start(form) }}
    <div class="grid-split">
        <div>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.project) }}
            {{ form_row(form.client) }}
            {{ form_row(form.defaultMaterialNumber) }}
            {{ form_row(form.periodFrom) }}
            {{ form_row(form.periodTo) }}
            {{ form_row(form.payerAccount) }}
            {{ form_row(form.defaultReceiverAccount) }}

            <div class="actions-right">
                <button class="button">{{ 'invoices.action_save'|trans }}</button>
            </div>
        </div>
        <div style="padding-top: 24px">
            <ul class="list-group margin-bottom">
                <li class="list-group-item border-bottom text-bold">{{ 'invoices.invoice_for'|trans({'%project%': invoice.project.name, '%projectTrackerId%': invoice.project.projectTrackerId}) }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.id'|trans }}: {{ invoice.id }}</li>
                <li class="list-group-item">{{ 'invoices.status'|trans }}: {{ invoice.recorded ? 'invoices.status_posted'|trans : 'invoices.status_not_posted'|trans }}</li>
            </ul>
            <ul class="list-group margin-bottom">
                <li class="list-group-item border-bottom text-bold">{{ 'invoices.client_information'|trans }}</li>
                {% if invoice.client != null %}
                    <li class="list-group-item border-bottom">{{ 'invoices.client_name'|trans }}: {{ invoice.client.name }}</li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_contact'|trans }}: {{ invoice.client.contact }}</li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_standard_price'|trans }}: {{ invoice.client.standardPrice }}</li>
                    <li class="list-group-item border-bottom">
                        {{ 'invoices.client_type'|trans }}:
                        {{ invoice.client.type.value == 'internal' ? 'invoices.client_type_internal'|trans : '' }}
                        {{ invoice.client.type.value == 'external' ? 'invoices.client_type_external'|trans : '' }}
                    </li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_account'|trans }}: {{ invoice.client.account }}</li>
                    {% if invoice.client.psp is defined and invoice.client.psp is not null %}
                        <li class="list-group-item">{{ 'invoices.client_psp'|trans }}: {{ invoice.client.psp }}</li>
                    {% endif %}
                    {% if invoice.client.ean is defined and invoice.client.ean is not null %}
                        <li class="list-group-item">{{ 'invoices.client_ean'|trans }}: {{ invoice.client.ean }}</li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item">{{ 'invoices.no_client'|trans }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div>
        <h3 class="subheading">{{ 'invoices.invoice_entries'|trans }}</h3>

        <table class="table margin-bottom">
            <thead class="table-thead">
            <tr>
                <th class="table-th">{{ 'invoices.invoice_entry_receiver_acccount'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_material_number'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_product'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_amount'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_price'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_total_price'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_type'|trans }}</th>
                <th class="table-th">{{ 'invoices.list_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for index, invoiceEntry in invoice.invoiceEntries %}
                <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                    <td class="table-td">{{ invoiceEntry.account }}</td>
                    <td class="table-td">{{ invoiceEntry.materialNumber.value }}</td>
                    <td class="table-td">{{ invoiceEntry.product }}</td>
                    <td class="table-td">{{ invoiceEntry.amount }}</td>
                    <td class="table-td">{{ invoiceEntry.price }}</td>
                    <td class="table-td">{{ invoiceEntry.totalPrice }}</td>
                    <td class="table-td">
                        {{ invoiceEntry.entryType.value == 'manual' ? 'invoices.invoice_entry_type_manual'|trans : '' }}
                        {{ invoiceEntry.entryType.value == 'worklog' ? 'invoices.invoice_entry_type_worklog'|trans : '' }}
                    </td>
                    <td class="table-td">
                        <a class="link" href="{{ path('app_invoice_entry_edit', {'id': invoiceEntry.id, 'invoice': invoice.id}) }}">{{ 'invoices.action_edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            {% if invoice.invoiceEntries.count == 0 %}
                <tr class="table-tr">
                    <td colspan="8" class="table-td">{{ 'invoices.list_no_records_found'|trans }}</td>
                </tr>
            {% elseif invoice.totalPrice %}
                <tr class="table-tr">
                    <td colspan="5" class="table-td"></td>
                    <td class="table-td">{{ invoice.totalPrice }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            <tr class="table-tr">
                <td colspan="8" class="table-td">
                    <a class="link mr-5" href="{{ path('app_invoice_entry_new', {'invoice': invoice.id, 'type': 'manual'}) }}">{{ 'invoices.action_create_new_invoice_entry_manual'|trans }}</a>
                    <a class="link" href="{{ path('app_invoice_entry_new', {'invoice': invoice.id, 'type': 'worklog'}) }}">{{ 'invoices.action_create_new_invoice_entry_worklog'|trans }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_invoices_index') }}">{{ 'invoices.back_to_list'|trans }}</a>
        {{ include('invoices/_delete_form.html.twig') }}
    </div>
{% endblock %}
