{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.edit'|trans }}{% endblock %}

{% block content %}


    {% include 'components/page-header.html.twig' with {
        'title': invoice.name,
    } %}

    {{ form_start(form) }}
    <div class="grid-split selections" {{ stimulus_controller('choices') }}>
        <div>
            {{ form_row(form.name) }}
            <div {{ stimulus_controller('generate-description') }} data-endpoint="{{ path('app_invoices_generate_description', {'id': invoice.id}|merge(view is defined ? {view: view} : {})) }}">
                {% if invoice.project.projectLeadName and invoice.project.projectLeadMail %}
                    <button type="button" class="link" style="font-size: .8em; float: right" {{ stimulus_action('generate-description', 'generate') }}>{{ 'invoices.generate_description'|trans }}</button>
                {% endif %}
                {{ form_row(form.description) }}
            </div>
            {{ form_row(form.client) }}
            {{ form_row(form.periodFrom) }}
            {{ form_row(form.periodTo) }}
            {{ form_row(form.paidByAccount) }}
            {{ form_row(form.defaultMaterialNumber) }}
            {{ form_row(form.defaultReceiverAccount) }}

            {% if not invoice.recorded and invoice.projectBilling is null %}
            <div class="actions-right">
                <button class="button">{{ 'invoices.action_save'|trans }}</button>
            </div>
            {% endif %}
        </div>
        <div style="padding-top: 24px">
            <ul class="list-group margin-bottom">
                <li class="list-group-item border-bottom text-bold">{{ 'invoices.invoice_info'|trans }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.id'|trans }}: {{ invoice.id }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.created_by'|trans }}: {{ invoice.createdBy }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.project'|trans }}: {{ invoice.project }} ({{ invoice.project.projectTrackerId }})</li>
                <li class="list-group-item border-bottom">{{ 'invoices.status'|trans }}: {{ invoice.recorded ? 'invoices.status_posted'|trans : 'invoices.status_not_posted'|trans }}</li>
            </ul>
            <ul class="list-group margin-bottom">
                <li class="list-group-item border-bottom text-bold">{{ 'invoices.client_information'|trans }}</li>
                {% if invoice.client != null %}
                    <li class="list-group-item border-bottom">{{ 'invoices.client_name'|trans }}: {{ invoice.client.name }}</li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_project_lead'|trans }}: {{ invoice.project.projectLeadName }} ({{ invoice.project.projectLeadMail }})</li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_contact'|trans }}: {{ invoice.client.contact }}</li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_standard_price'|trans }}: {{ invoice.client.standardPrice }}</li>
                    <li class="list-group-item border-bottom">{{ 'invoices.client_customer_key'|trans }}: {{ invoice.client.customerKey }}</li>
                    <li class="list-group-item border-bottom">
                        {{ 'invoices.client_type'|trans }}:
                        {% if invoice.client.type is not null %}
                            {{ invoice.client.type.value == 'internal' ? 'invoices.client_type_internal'|trans : '' }}
                            {{ invoice.client.type.value == 'external' ? 'invoices.client_type_external'|trans : '' }}
                        {% else %}
                            {{ 'invoices.client_type_is_null'|trans }}
                        {% endif %}
                    </li>
                    {% if invoice.client.psp is defined and invoice.client.psp is not null %}
                        <li class="list-group-item border-bottom">{{ 'invoices.client_psp'|trans }}: {{ invoice.client.psp }}</li>
                    {% endif %}
                    {% if invoice.client.ean is defined and invoice.client.ean is not null %}
                        <li class="list-group-item border-bottom">{{ 'invoices.client_ean'|trans }}: {{ invoice.client.ean }}</li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item border-bottom">{{ 'invoices.no_client'|trans }}</li>
                {% endif %}
            </ul>
            {% if invoice.recorded %}
            <ul class="list-group margin-bottom">
                <li class="list-group-item border-bottom text-bold">{{ 'invoices.locked_client_values'|trans }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.locked_type'|trans }}: {{ invoice.lockedType }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.locked_contact_name'|trans }}: {{ invoice.lockedContactName }}</li>
                <li class="list-group-item border-bottom">{{ 'invoices.locked_customer_key'|trans }}: {{ invoice.lockedCustomerKey }}</li>
            </ul>
            {% endif %}
            <div class="actions-right">
                {% if invoice.client is not null %}
                    <a type="button" href="{{ path('app_invoices_show_export', {'id': invoice.id}|merge(view is defined ? {view: view} : {})) }}" class="button button-green">{{ 'invoices.action_show_export'|trans }}</a>
                    {% if not invoice.recorded and invoice.projectBilling is null %}
                        <a type="button" href="{{ path('app_invoices_record', {'id': invoice.id}|merge(view is defined ? {view: view} : {})) }}" class="button button-warning">{{ 'invoices.action_record'|trans }}</a>
                    {% endif %}
                    {% if invoice.recorded and invoice.projectBilling is null %}
                        <a type="button" href="{{ path('app_invoices_export', {'id': invoice.id}|merge(view is defined ? {view: view} : {})) }}" class="button">{{ 'invoices.action_export'|trans }}</a>
                    {% endif %}
                {% else %}
                    {% include 'components/alert.html.twig' with {level: 'info', text: 'invoices.export_only_available_when_mandatory_fields_are_set'|trans} %}
                {% endif %}
            </div>
        </div>
    </div>

    <div>
        <h3 class="subheading">{{ 'invoices.invoice_entries'|trans }}</h3>

        <table class="table margin-bottom">
            <thead class="table-th">
            <tr>
                <th class="table-th">{{ 'invoices.invoice_entry_receiver_acccount'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_material_number'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_product'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_amount'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_price'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_total_price'|trans }}</th>
                <th class="table-th">{{ 'invoices.invoice_entry_type'|trans }}</th>
                <th class="table-th">{{ 'invoices.list_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for index, invoice_entry in invoice.invoiceEntries %}
                <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                    <td class="table-td">{{ invoice_entry.account }}</td>
                    <td class="table-td">{{ invoice_entry.materialNumber.value ?? '' }}</td>
                    <td class="table-td">{{ invoice_entry.product }}</td>
                    <td class="table-td">{{ invoice_entry.amount }}</td>
                    <td class="table-td">{{ invoice_entry.price }}</td>
                    <td class="table-td">{{ invoice_entry.totalPrice }}</td>
                    <td class="table-td">
                        {{ invoice_entry.entryType.value == 'manual' ? 'invoices.invoice_entry_type_manual'|trans : '' }}
                        {{ invoice_entry.entryType.value == 'worklog' ? 'invoices.invoice_entry_type_worklog'|trans : '' }}
                    </td>
                    <td class="table-td">
                        <a class="link" href="{{ path('app_invoice_entry_edit', {'id': invoice_entry.id, 'invoice': invoice.id}|merge(view is defined ? {view: view} : {})) }}">{{ 'invoices.action_edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            {% if invoice.invoiceEntries is empty %}
                <tr class="table-tr">
                    <td colspan="8" class="table-td">{{ 'invoices.list_no_records_found'|trans }}</td>
                </tr>
            {% elseif invoice.totalPrice %}
                <tr class="table-tr">
                    <td colspan="3" class="table-td"></td>
                    <td class="table-td">{{ invoiceTotalAmount }}</td>
                    <td class="table-td"></td>
                    <td class="table-td">{{ invoice.totalPrice }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            {% if not invoice.recorded and invoice.projectBilling is null %}
            <tr class="table-tr">
                <td colspan="8" class="table-td">
                    {% if allowAddingEntries %}
                        <a class="link mr-5" href="{{ path('app_invoice_entry_new', {'invoice': invoice.id, 'type': 'manual'}|merge(view is defined ? {view: view} : {})) }}">{{ 'invoices.action_create_new_invoice_entry_manual'|trans }}</a>
                        <a class="link" href="{{ path('app_invoice_entry_new', {'invoice': invoice.id, 'type': 'worklog'}|merge(view is defined ? {view: view} : {})) }}">{{ 'invoices.action_create_new_invoice_entry_worklog'|trans }}</a>
                    {% else %}
                        {% include 'components/alert.html.twig' with {level: 'info', text: 'invoices.required_fields_not_set_for_creating_entries'|trans} %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {{ form_end(form) }}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_invoices_index', {}|merge(view is defined ? {view: view} : {})) }}">{{ 'invoices.back_to_list'|trans }}</a>
        {% if not invoice.recorded and invoice.projectBilling is null %}
            {{ include('invoices/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
