{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.export_title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'invoices.export_title'|trans }}</h1>

    <div>
        {{ html|raw }}
    </div>

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_invoices_edit', {view: view, 'id': invoice.id}) }}">{{ 'invoices.back_to_invoice'|trans }}</a>
    </div>
{% endblock %}
