{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'invoices.title'|trans }}</h1>

    <table class="table-auto">
        <thead>
            <tr>
                <th>{{ 'invoices.list_id'|trans }}</th>
                <th>{{ 'invoices.list_name'|trans }}</th>
                <th>{{ 'invoices.list_project'|trans }}</th>
                <th>{{ 'invoices.list_created_by'|trans }}</th>
                <th>{{ 'invoices.list_updated_at'|trans }}</th>
                <th>{{ 'invoices.list_amount'|trans }}</th>
                <th>{{ 'invoices.list_actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.name }}</td>
                <td>{{ invoice.projectId }} {# TODO: Get project name #}</td>
                <td>{{ invoice.createdBy }}</td>
                <td>{{ invoice.updatedAt ? invoice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ 'TODO: Amount' }}</td>
                <td>
                    <a href="{{ path('app_invoices_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('app_invoices_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">{{ 'invoices.list_no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(invoices) }}
    </div>
    <div class="count">
        {{ invoices.getTotalItemCount }} fakturaer.
    </div>

    <a class="link" href="{{ path('app_invoices_new') }}">{{ 'invoices.action_create_new'|trans }}</a>
{% endblock %}
