{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.title'|trans }}{% endblock %}

{% block content %}

    {% include 'components/page-header.html.twig' with {
        'title': 'invoices.title'|trans,
        'link_text': 'invoices.action_create_new'|trans,
        'link_url': 'app_invoices_new'
    } %}

    {{ form_start(form) }}
    <div class="form-default">
        {{ form_row(form.query) }}
        {{ form_row(form.recorded) }}
        {{ form_row(form.createdBy) }}
        {{ form_row(form.projectBilling) }}
        {{ form_row(form.noCost) }}
        <div>
        <button class="button form-element">{{ 'project_billing.search'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

    {% set recorded_invoices = invoiceFilterData.recorded %}
    {% set number_of_columns = recorded_invoices ? 11 : 8 %}

    <div {{ stimulus_controller('entry-select') }} data-submit-endpoint="{{ submitEndpoint }}">
        <form id="entry-form">
            <table class="table margin-bottom">
                <thead class="table-th">
                <tr>
                    {% if recorded_invoices %}
                        <th class="table-th">
                            <label>
                                <input type="checkbox" data-action="entry-select#toggleAll">
                            </label>
                        </th>
                    {% endif %}
                    <th class="table-th{% if invoices.isSorted('invoice.id') %} sorted{% endif %}">{{ knp_pagination_sortable(invoices, 'invoices.list_id'|trans, 'invoice.id') }}</th>
                    <th class="table-th{% if invoices.isSorted('invoice.name') %} sorted{% endif %}">{{ knp_pagination_sortable(invoices, 'invoices.list_name'|trans, 'invoice.name') }}</th>
                    <th class="table-th">{{ 'invoices.list_project'|trans }}</th>
                    <th class="table-th">{{ 'invoices.list_project_data_provider'|trans }}</th>
                    <th class="table-th{% if invoices.isSorted('invoice.createdBy') %} sorted{% endif %}">{{ knp_pagination_sortable(invoices, 'invoices.list_created_by'|trans, 'invoice.createdBy') }}</th>
                    <th class="table-th{% if invoices.isSorted('invoice.updatedAt') %} sorted{% endif %}">{{ knp_pagination_sortable(invoices, 'invoices.list_updated_at'|trans, 'invoice.updatedAt') }}</th>
                    <th class="table-th">{{ 'invoices.list_total_price'|trans }}</th>
                    <th class="table-th">{{ 'invoices.list_no_cost'|trans }}</th>
                    {% if recorded_invoices %}
                        <th class="table-th{% if invoices.isSorted('invoice.recordedDate') %} sorted{% endif %}">{{ knp_pagination_sortable(invoices, 'invoices.list_recorded_date'|trans, 'invoice.recordedDate') }}</th>
                        <th class="table-th{% if invoices.isSorted('invoice.exportedDate') %} sorted{% endif %}">{{ knp_pagination_sortable(invoices, 'invoices.list_exported_date'|trans, 'invoice.exportedDate') }}</th>
                    {% endif %}
                    <th class="table-th">{{ 'invoices.list_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for index, invoice in invoices %}
                    <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                        {% if recorded_invoices %}
                            <td class="table-td">
                                <label>
                                    <input
                                            type="checkbox"
                                            {{ stimulus_target('entry-select', 'checkbox') }}
                                            {{ stimulus_action('entry-select', 'checkboxClick', 'click', {'id': invoice.id}) }}
                                            data-id="{{ invoice.id }}"
                                            value="{{ invoice.id }}"
                                            id="'entry-select-{{ invoice.id }}"
                                            {{ false ? 'checked' : '' }}
                                    />
                                </label>
                            </td>
                        {% endif %}
                        <td class="table-td">{{ invoice.id }}</td>
                        <td class="table-td">{{ invoice.name }}</td>
                        <td class="table-td">{{ invoice.project }}</td>
                        <td class="table-td">{{ invoice.project.dataProvider }}</td>
                        <td class="table-td">{{ invoice.createdBy }}</td>
                        <td class="table-td">{{ invoice.updatedAt ? invoice.updatedAt|date : '' }}</td>
                        <td class="table-td">{{ invoice.totalPrice }}</td>
                        <td class="table-td">{{ invoice.noCost ? 'invoices.list_no_cost_true'|trans : 'invoices.list_no_cost_false'|trans }}</td>
                        {% if recorded_invoices %}
                            <td class="table-td">{{ invoice.recordedDate ? invoice.recordedDate|date : '' }}</td>
                            <td class="table-td">{{ invoice.exportedDate ? invoice.exportedDate|date : '' }}</td>
                        {% endif %}
                        <td class="table-td">
                            <a class="link" href="{{ path('app_invoices_edit', {'id': invoice.id}) }}">
                                {% if recorded_invoices %}
                                    {{ 'invoices.action_view'|trans }}
                                {% else %}
                                    {{ 'invoices.action_edit'|trans }}
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if invoices is empty %}
                    <tr class="table-tr">
                        <td class="table-td"
                            colspan="{{ number_of_columns }}">{{ 'invoices.list_no_records_found'|trans }}</td>
                    </tr>
                {% endif %}
                <tr class="table-tr">
                    <td class="table-td" colspan="2">
                        <a class="link" href="{{ path('app_invoices_new') }}">
                            {{ 'invoices.action_create_new'|trans }}
                        </a>
                    </td>
                    <td class="table-td" colspan="2">
                        {% if recorded_invoices %}
                            <button type="submit" class="button" data-action="entry-select#submitFormRedirectWithIds" data-entry-select-target="submitButton">{{ 'invoices.action_export_selected'|trans }}</button>
                        {% endif %}
                    </td>
                    <td class="table-td" colspan="{{ number_of_columns - 3 }}">
                        {{ knp_pagination_render(invoices) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
