{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'invoices.confirm_record_title'|trans }}</h1>

    {% if invoice.recorded %}
        <div class="alert-danger" role="alert">
            <div>{{ 'invoices.already_recorded'|trans }}</div>
        </div>
    {% else %}
        {% if errors is empty %}
            <div class="alert-warning" role="alert">
                <div class="mb-5">{{ 'invoices.confirm_record_are_you_sure'|trans({ '%invoiceName%': invoice.name }) }}</div>
                <div class="mb-5">{{ 'invoices.all_worklogs_will_be_marked_as_billed'|trans }}</div>
                <div>{{ 'invoices.confirm_record_cannot_be_undone'|trans }}</div>
            </div>

            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="mt-5">
                <button class="button">{{ 'invoices.record_save'|trans }}</button>
            </div>
            {{ form_end(form) }}
        {% else %}
            <h3 class="subheading">{{ 'invoices.cannot_record_errors_exist'|trans }}</h3>
            {% for error in errors %}
                <div class="alert-danger" role="alert">
                    <div>{{ error }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_invoices_edit', {view: view, 'id': invoice.id}) }}">{{ 'invoices.back_to_invoice'|trans }}</a>
    </div>
{% endblock %}
