{% extends 'base.html.twig' %}

{% block title %}{{ 'invoices.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'invoices.confirm_record_title'|trans }}</h1>

    {% if invoice.recorded %}
        {% include 'components/alert.html.twig' with {level: 'danger', text: 'invoices.already_recorded'|trans} %}
    {% else %}
        {% if errors is empty %}
            {% embed 'components/alert.html.twig' with {level: 'warning'} %}
                {% block alert %}
                    <div class="mb-5">{{ 'invoices.confirm_record_are_you_sure'|trans({ '%invoiceName%': invoice.name }) }}</div>
                    <div class="mb-5">{{ 'invoices.all_worklogs_will_be_marked_as_billed'|trans }}</div>
                    <div>{{ 'invoices.confirm_record_cannot_be_undone'|trans }}</div>
                {% endblock %}
            {% endembed %}

            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="mt-5">
                <button class="button">{{ 'invoices.record_save'|trans }}</button>
            </div>
            {{ form_end(form) }}
        {% else %}
            <h3 class="subheading">{{ 'invoices.cannot_record_errors_exist'|trans }}</h3>
            {% for error in errors %}
                {% include 'components/alert.html.twig' with {level: 'danger', text: error} %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_invoices_edit', {'id': invoice.id}|merge(view is defined ? {view: view} : {})) }}">{{ 'invoices.back_to_invoice'|trans }}</a>
    </div>
{% endblock %}
