{% extends 'base.html.twig' %}

{% block title %}{{ 'worklog.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'worklog.title'|trans }}</h1>

    {{ form_start(form) }}
    <div class="worklogs-filter-form selections" {{ stimulus_controller('choices') }}>
        {{ form_rest(form) }}
        <button class="button m-5">{{ 'invoices.search'|trans }}</button>
    </div>
    {{ form_end(form) }}

    <div {{ stimulus_controller('entry-select') }} data-submit-endpoint="{{ submitEndpoint }}">
        <form id="entry-form">
            <table class="table margin-bottom">
                <thead class="table-thead">
                <tr>
                    <th class="table-th">
                        <label>
                            <input type="checkbox" data-action="entry-select#toggleAll">
                        </label>
                    </th>
                    <th class="table-th">{{ 'worklog.name'|trans }}</th>
                    <th class="table-th">{{ 'worklog.is_billed'|trans }}</th>
                    <th class="table-th">{{ 'worklog.epic'|trans }}</th>
                    <th class="table-th">{{ 'worklog.version'|trans }}</th>
                    <th class="table-th">{{ 'worklog.worker'|trans }}</th>
                    <th class="table-th">{{ 'worklog.time_spent'|trans }}</th>
                    <th class="table-th">{{ 'worklog.date'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for index, worklog in worklogs %}
                    {% set ownedByInvoiceEntry = worklog.invoiceEntry == invoiceEntry %}
                    {% set ownedByOtherInvoiceEntry = (not ownedByInvoiceEntry and worklog.invoiceEntry is not null) %}
                    {% set disabled = worklog.isBilled or ownedByOtherInvoiceEntry %}

                    <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}{{ disabled ? ' table-tr-disabled' : '' }}{{ ownedByOtherInvoiceEntry ? ' table-tr-disabled-alt' : '' }}">
                        <td class="table-td">
                            {% if not disabled %}
                                <label>
                                    <input
                                            type="checkbox"
                                            {{ stimulus_target('entry-select', 'checkbox') }}
                                            {{ stimulus_action('entry-select', 'checkboxClick', 'click', {'id': worklog.id}) }}
                                            data-id="{{ worklog.id }}"
                                            value="{{ worklog.id }}"
                                            id="entry-{{ worklog.id }}"
                                            {{ ownedByInvoiceEntry ? 'checked' : '' }}
                                    />
                                </label>
                            {% endif %}
                            {% if ownedByOtherInvoiceEntry %}
                                {{ 'worklog.owned_by_other'|trans }}
                            {% endif %}
                        </td>
                        <td class="table-td">
                            <div>
                                <span>{{ worklog.description }}</span>
                                <span> ({{ worklog.worklogId }})</span>
                            </div>
                            <div class="italic">
                                <span>{{ worklog.issue.name }}</span>
                                <span> ({{ worklog.projectTrackerIssueId }})</span>
                            </div>
                        </td>
                        <td class="table-td">{{ worklog.isBilled ? 'worklog.is_billed_true'|trans : 'worklog.is_billed_false'|trans }}</td>
                        <td class="table-td">{{ worklog.issue.epicName }}</td>
                        <td class="table-td">
                            {% for version in worklog.issue.versions %}{{ version.name }}{% endfor %}
                        </td>
                        <td class="table-td">{{ worklog.worker }}</td>
                        <td class="table-td">{{ worklog.timeSpentSeconds / 60 / 60 }}</td>
                        <td class="table-td">{{ worklog.started|date }}</td>
                    </tr>
                {% endfor %}
                {% if worklogs is empty %}
                    <tr class="table-tr">
                        <td colspan="8" class="table-td">{{ 'invoices.list_no_records_found'|trans }}</td>
                    </tr>
                {% endif %}
                <tr class="table-tr sticky-row">
                    <td colspan="4" class="table-td">
                        <button type="submit" class="button mr-5" data-action="entry-select#submitForm" data-entry-select-target="submitButton">{{ 'worklog.action_save'|trans }}</button>
                        <span class="hidden" data-entry-select-target="spinner">loading...</span>
                        <span class="hidden" data-entry-select-target="result"></span>
                    </td>
                    <td colspan="4">
                        <a class="link" style="float: right; margin-right: 2em" href="{{ path('app_invoices_edit', {view: view, 'id': invoice.id}) }}">{{ 'invoices.back_to_invoice'|trans }}</a>
                        <a class="link" style="float: right; margin-right: 2em" href="{{ path('app_invoice_entry_edit', {view: view, 'id': invoiceEntry.id, 'invoice': invoice.id}) }}">{{ 'invoices.back_to_invoice_entry'|trans }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="bottom-actions">
        <a class="link"
           href="{{ path('app_invoice_entry_edit', {view: view, 'id': invoiceEntry.id, 'invoice': invoice.id}) }}">{{ 'invoices.back_to_invoice_entry'|trans }}</a>
        <a class="link"
           href="{{ path('app_invoices_edit', {view: view, 'id': invoice.id}) }}">{{ 'invoices.back_to_invoice'|trans }}</a>
    </div>
{% endblock %}
