{% extends 'base.html.twig' %}

{% block title %}{{ 'clients.edit'|trans}}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'clients.edit'|trans}}</h1>

    {{ form_start(form) }}
    <div {{ stimulus_controller('choices') }}>
        {{ form_rest(form) }}
        <div class="actions-right">
            <button class="button mt-3">{{ 'clients.action_save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

    {{ include('client/_delete_form.html.twig') }}
    <a href="{{ path('app_client_index', {}|merge(view is defined ? {view: view} : {})) }}">{{ 'client.back_to_list'|trans}}</a>
{% endblock %}
