{% extends 'base.html.twig' %}

{% block title %}{{ 'client.title'|trans }}{% endblock %}

{% block content %}
    <a class="link" href="{{ path('app_client_new', {}|merge(view is defined ? {view: view} : {})) }}"
       style="float: right">{{ 'clients.action_create_new'|trans }}</a>

    <h1 class="page-title">{{ 'client.title'|trans }}</h1>

    {% set numberOfColumns = 11 %}

    {{ form_start(form) }}
        <div class="form-default">
            {{ form_row(form.name) }}
            {{ form_row(form.contact) }}
            <div>
                <button class="button form-element">{{ 'client.search'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}

    <table class="table margin-bottom">
        <thead class="table-thead">
        <tr>
            <th class="table-th {% if clients.isSorted('clients.id') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.id'|trans, 'client.id') }}</th>
            <th class="table-th {% if clients.isSorted('client.name') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.name'|trans, 'client.name') }}</th>
            <th class="table-th {% if clients.isSorted('client.contact') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.contact'|trans, 'client.contact') }}</th>
            <th class="table-th {% if clients.isSorted('client.standardPrice') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.standard_price'|trans, 'client.standardPrice') }}</th>
            <th class="table-th">{{ 'clients.data_provider'|trans }}</th>
            <th class="table-th {% if clients.isSorted('client.type') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.type'|trans, 'client.type') }}</th>
            <th class="table-th {% if clients.isSorted('client.psp') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.psp'|trans, 'client.psp') }}</th>
            <th class="table-th {% if clients.isSorted('client.ean') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.ean'|trans, 'client.ean') }}</th>
            <th class="table-th {% if clients.isSorted('client.customerKey') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.customer_key'|trans, 'client.customerKey') }}</th>
            <th class="table-th {% if clients.isSorted('client.versionName') %} sorted{% endif %}">{{ knp_pagination_sortable(clients, 'clients.version_name'|trans, 'client.versionName') }}</th>
            <th class="table-th">{{ 'clients.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, client in clients %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ client.id }}</td>
                <td class="table-td">{{ client.name }}</td>
                <td class="table-td">{{ client.contact }}</td>
                <td class="table-td">{{ client.standardPrice }}</td>
                <td class="table-td">{{ client.dataProvider }}</td>
                {% if client.type is not null %}
                    <td class="table-td">{{ client.type.value }}</td>
                {% else %}
                    <td class="table-td"></td>
                {% endif %}
                <td class="table-td">{{ client.psp }}</td>
                <td class="table-td">{{ client.ean }}</td>
                <td class="table-td">{{ client.customerKey }}</td>
                <td class="table-td">{{ client.versionName }}</td>
                <td class="table-td">
                    <a class="link" href="{{ path('app_client_edit', {'id': client.id}|merge(view is defined ? {view: view} : {})) }}">{{ 'clients.action_edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr class="table-tr">
                <td class="table-td"
                    colspan="{{ numberOfColumns }}">{{ 'clients.list_no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        <tr class="table-tr">
            <td class="table-td" colspan="{{ numberOfColumns }}">
                <a class="link" href="{{ path('app_client_new', {}|merge(view is defined ? {view: view} : {})) }}">
                    {{ 'clients.action_create_new'|trans }}
                </a>
            </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td" colspan="{{ numberOfColumns }}" class="text-right">
                {{ knp_pagination_render(clients) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
