{% extends 'base.html.twig' %}

{% block title %}{{ 'project_billing.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'project_billing.edit'|trans }}</h1>

    {{ form_start(form) }}
    <div>
        {{ form_rest(form) }}

        {% if not projectBilling.recorded %}
            <button class="button">{{ 'project_billing.action_save'|trans }}</button>
        {% endif %}
    </div>
    {{ form_end(form) }}

    <div class="actions-right">
        <a type="button" href="{{ path('app_project_billing_show_export', {id: projectBilling.id}) }}" class="button button-green">{{ 'project_billing.action_show_export'|trans }}</a>
        {% if not projectBilling.recorded %}
            <a type="button" href="{{ path('app_project_billing_record', {id: projectBilling.id}) }}" class="button button-warning">{{ 'project_billing.action_record'|trans }}</a>
        {% endif %}
        {% if projectBilling.recorded %}
            <a type="button" href="{{ path('app_project_billing_export', {id: projectBilling.id, type: 'internal'}) }}" class="button button-warning">{{ 'project_billing.action_record_internal'|trans }}</a>
            <a type="button" href="{{ path('app_project_billing_export', {id: projectBilling.id, type: 'external'}) }}" class="button button-warning">{{ 'project_billing.action_record_external'|trans }}</a>
            <a type="button" href="{{ path('app_project_billing_export', {id: projectBilling.id}) }}" class="button">{{ 'project_billing.action_export'|trans }}</a>
        {% endif %}
    </div>

    {% set invoices = projectBilling.invoices %}

    <h2 class="subheading">{{ 'project_billing.invoices'|trans }}</h2>

    <table class="table margin-bottom">
        <thead class="table-th">
        <tr>
            <th class="table-th">{{ 'invoices.id'|trans }}</th>
            <th class="table-th">{{ 'invoices.name'|trans }}</th>
            <th class="table-th">{{ 'invoices.type'|trans }}</th>
            <th class="table-th">{{ 'invoices.list_total_price'|trans }}</th>
            <th class="table-th">{{ 'invoices.list_actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, invoice in invoices %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ invoice.id }}</td>
                <td class="table-td">{{ invoice.name }}</td>
                <td class="table-td">
                    {% if invoice.client.type != null %}
                        {{ invoice.client.type.value == 'internal' ? 'invoices.client_type_internal'|trans : '' }}
                        {{ invoice.client.type.value == 'external' ? 'invoices.client_type_external'|trans : '' }}
                    {% endif %}
                </td>
                <td class="table-td">{{ invoice.totalPrice }}</td>
                <td class="table-td">
                    <a class="link" href="{{ path('app_invoices_edit', {id: invoice.id}) }}">{{ 'invoices.action_edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        {% if invoices is empty %}
            <tr class="table-tr">
                <td class="table-td" colspan="7">{{ 'invoices.list_no_records_found'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if issuesWithoutAccounts is not empty %}
        <h2 class="subheading">{{ 'project_billing.issues_not_included'|trans }}</h2>

        {{ include('components/alert.html.twig', {level: 'info', text: 'project_billing.issues_not_included_helptext'|trans}) }}

        <table class="table margin-bottom">
            <thead class="table-th">
            <tr>
                <th class="table-th">{{ 'project_billing.issue.key'|trans }}</th>
                <th class="table-th">{{ 'project_billing.issue.name'|trans }}</th>
                <th class="table-th">{{ 'project_billing.issue.versions'|trans }}</th>
                <th class="table-th">{{ 'project_billing.issue.worklog_time_spent'|trans }}</th>
                <th class="table-th">{{ 'project_billing.issue.status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for index, issue in issuesWithoutAccounts %}
                <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                    <td class="table-td">{{ issue.projectTrackerKey }}</td>
                    <td class="table-td">{{ issue.name }}</td>
                    <td class="table-td">{{ issue.versions|map(p => p.name)|join(', ') }}</td>
                    <td class="table-td">{{ issue.worklogs|reduce((carry, v, k) => carry + v.timeSpentSeconds / 3600) }}</td>
                    <td class="table-td">{{ issue.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_project_billing_index') }}">{{ 'project_billing.back_to_list'|trans }}</a>
        {% if not projectBilling.recorded %}
            {{ include('project_billing/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
