{% extends 'base.html.twig' %}

{% block title %}{{ 'project_billing.edit'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'project_billing.confirm_record_title'|trans }}</h1>

    {% if projectBilling.recorded %}
        {% include 'components/alert.html.twig' with {level: 'danger', text: 'project_billing.already_recorded'|trans} %}
    {% else %}
        {% if invoiceErrors|length > 0 %}
            {% embed 'components/alert.html.twig' with {level: 'danger'} %}
                {% block alert %}
                    <h3 class="subheading">{{ 'project_billing.existing_errors_before_on_record'|trans }}</h3>
                    <table class="table">
                        <thead class="table-th">
                        <th class="table-th">
                            {{ 'project_billing.on_record_errors_invoice_id'|trans }}
                        </th>
                        <th class="table-th">
                            {{ 'project_billing.on_record_errors_invoice_link'|trans }}
                        </th>
                        <th class="table-th">
                            {{ 'project_billing.on_record_errors_error'|trans }}
                        </th>
                        </thead>
                        <tbody>
                        {% for key, invoice_error in invoiceErrors %}
                            {% set invoice_url = absolute_url(path('app_invoices_edit', {'id': key}|merge(view is defined ? {view: view} : {}))) %}
                            {% for error in invoice_error %}
                                <tr class="table-tr">
                                    <td class="table-td"><strong>{{ key }}</strong></td>
                                    <td class="table-td"><a href="{{ invoice_url }}">{{ invoice_url }}</a></td>
                                    <td class="table-td">{{ error }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            {% endembed %}
        {% else %}
            {% embed 'components/alert.html.twig' with {level: 'warning'} %}
                {% block alert %}
                    <div class="mb-5">{{ 'project_billing.confirm_record_are_you_sure'|trans({'%projectBillingName%': projectBilling.name}) }}</div>
                    <div class="mb-5">{{ 'project_billing.all_worklogs_will_be_marked_as_billed'|trans }}</div>
                    <div>{{ 'project_billing.confirm_record_cannot_be_undone'|trans }}</div>
                {% endblock %}
            {% endembed %}

            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="mt-5">
                <button class="button">{{ 'project_billing.record_save'|trans }}</button>
            </div>
            {{ form_end(form) }}
        {% endif %}
    {% endif %}

    <div class="bottom-actions">
        <a class="link" href="{{ path('app_project_billing_edit', {'id': projectBilling.id}|merge(view is defined ? {view: view} : {})) }}">{{ 'project_billing.back_to_invoice'|trans }}</a>
    </div>
{% endblock %}
