{% extends 'base.html.twig' %}

{% block title %}{{ 'reports.team-title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'reports.team-title'|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}

    <button class="button">{{ 'view.action_next'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
