{% extends 'base.html.twig' %}

{% set from = dateInterval['dateFrom']|date('d. F Y') %}
{% set to = dateInterval['dateTo']|date('d. F Y') %}

{% block title %}{{ 'reports.team-title-output'|trans({'%from%': from, '%to%': to}) }}{% endblock %}

{% block content %}
    <h1 class="page-title text-xl">{{ 'reports.team-title-output'|trans({'%from%': from, '%to%': to}) }}</h1>

    <div>
        {{ 'reports.team-description'|trans }}
    </div>

    <div class="mt-3 mb-3">
        <a class="btn-primary" href="{{ path('app_team_reports_output_export', currentQuery) }}">{{ 'reports.team-export-xls'|trans }}</a>
    </div>

    <div>
        {{ 'reports.team-result'|trans({'%items_per_page%': result.getItemNumberPerPage > result.getTotalItemCount ? result.getTotalItemCount : result.getItemNumberPerPage, '%items_total%': result.getTotalItemCount}) }}
    </div>

    <div class="content">
        <div class="overflow-x-auto">
            <table>
                <thead class="table-th">
                <tr>
                    <th class="table-th {% if result.isSorted('result.project.name') %} sorted{% endif %}">{{ knp_pagination_sortable(result, 'reports.team_project_name'|trans, 'project.name') }}</th>
                    <th class="table-th {% if result.isSorted('result.worker') %} sorted{% endif %}">{{ knp_pagination_sortable(result, 'reports.team_user'|trans, 'wor.worker') }}</th>
                    <th class="table-th {% if result.isSorted('result.issue.name') %} sorted{% endif %}">{{ knp_pagination_sortable(result, 'reports.team_issue_id'|trans, 'issue.name') }}</th>
                    <th class="table-th {% if result.isSorted('result.started') %} sorted{% endif %}">{{ knp_pagination_sortable(result, 'reports.team_date'|trans, 'wor.started') }}</th>
                    <th class="table-th {% if result.isSorted('result.timeSpentSeconds') %} sorted{% endif %}">{{ knp_pagination_sortable(result, 'reports.team_time_spent'|trans, 'wor.timeSpentSeconds') }}</th>
                    <th class="table-th {% if result.isSorted('result.started') %} sorted{% endif %}">{{ knp_pagination_sortable(result, 'reports.team_description'|trans, 'wor.started') }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for index, worklog in result %}
                        <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                            <td class="table-td">{{ worklog.project.name }}</td>
                            <td class="table-td">{{ worklog.worker }}</td>
                            <td class="table-td">{{ worklog.issue.name }}</td>
                            <td class="table-td">{{ worklog.started|date('d-m-Y') }}</td>
                            <td class="table-td">{{ worklog.timeSpentSeconds / 3600 }} </td>
                            <td class="table-td">{{ worklog.description }}</td>
                        </tr>
                    {% else %}
                        <tr class="table-tr">
                            <td class="table-td"
                                colspan="6">{{ 'reports.team_no_records_found'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {{ knp_pagination_render(result) }}
        </div>
        <div class="mt-3 mb-3">
            <a class="btn-primary" href="{{ path('app_team_reports_output_export', currentQuery) }}">{{ 'reports.team-export-xls'|trans }}</a>
        </div>
    </div>
{% endblock %}
