{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
<div class="planning-wrapper">
    <style>
        td.high {
            background-color: #eb886f;
        }
        td.success {
            background-color: #2fb1a2;
        }
    </style>

    {% set sprints = planningData.sprints %}
    {% set assignees = planningData.assignees %}
    {% set projects = planningData.projects %}

    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    <h3 class="subheading">{{ 'planning.assignees'|trans }}</h3>
    <div>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="table-cell"></th>
                    <th class="table-cell"></th>
                    {% for sprint in sprints %}
                        <th class="table-cell-heading">{{ sprint.displayName }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for assignee in assignees %}
            <tbody {{ stimulus_controller('toggle') }}>
                <tr class="table-row">
                    <td class="table-cell-heading">
                        {{ assignee.displayName }}
                        <button class="float-right" type="button" data-action="toggle#toggleParent" data-toggle-target="button" >+</button>
                    </td>
                    <td></td>
                    {% for sprint in sprints %}
                        {% if assignee.sprintSums.containsKey(sprint.sprintId) %}
                            {% set res = assignee.sprintSums.get(sprint.sprintId).sumHours %}
                            <td class="table-cell-heading{{ res < sprint.sprintGoalLow ? ' low' : '' }}{{ res >= sprint.sprintGoalLow and res <= sprint.sprintGoalHigh ? ' success' : '' }}{{ res > sprint.sprintGoalHigh ? ' high' : '' }}">
                                {{ res }}
                            </td>
                        {% else %}
                            <td class="table-cell-heading"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for project in assignee.projects %}
                    <tr data-toggle-target="parent" class="table-row">
                        <td class="table-cell"></td>
                        <td class="table-cell-heading">{{ project.displayName }} <button class="float-right" type="button" data-action="toggle#toggleChild" data-toggle-target="button" data-parent-id="{{ project.key }}">+</button></td>
                        {% for sprint in sprints %}
                            {% if project.sprintSums.containsKey(sprint.sprintId) %}
                                <td class="table-cell-heading">
                                    {{ project.sprintSums.get(sprint.sprintId).sumHours }}
                                </td>
                            {% else %}
                                <td class="table-cell-heading"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for issue in project.issues %}
                        <tr data-toggle-target="child" data-parent-id="{{ project.key }}">
                            <td class="table-cell"></td>
                            <td class="table-cell"><a href="{{ issue.link }}" class="link">{{ issue.key }}</a>: {{ issue.displayName }}</td>
                            {% for sprint in sprints %}
                                {% if issue.sprintId == sprint.sprintId %}
                                    <td class="table-cell-heading">
                                        {{ issue.remainingHours ?? 'UE' }}
                                    </td>
                                {% else %}
                                    <td class="table-cell-heading"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            {% endfor %}
        </table>
    </div>

    <h3 class="subheading">{{ 'planning.projects'|trans }}</h3>
    <div>
        <table class="table-auto">
            <thead>
            <tr>
                <th class="table-cell"></th>
                <th class="table-cell"></th>
                {% for sprint in sprints %}
                    <th class="table-cell-heading">{{ sprint.displayName }}</th>
                {% endfor %}
            </tr>
            </thead>
            {% for project in projects %}
                <tbody {{ stimulus_controller('toggle') }}>
                <tr class="table-row">
                    <td class="table-cell-heading">
                        {{ project.displayName }}
                        <button class="float-right" type="button" data-action="toggle#toggleParent" data-toggle-target="button" >+</button>
                    </td>
                    <td></td>
                    {% for sprint in sprints %}
                        {% if project.sprintSums.containsKey(sprint.sprintId) %}
                            {% set res = project.sprintSums.get(sprint.sprintId).sumHours %}
                            <td class="table-cell-heading">
                                {{ res }}
                            </td>
                        {% else %}
                            <td class="table-cell-heading"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for assignee in project.assignees %}
                    <tr data-toggle-target="parent" class="table-row">
                        <td class="table-cell"></td>
                        <td class="table-cell-heading">{{ assignee.displayName }} <button class="float-right" type="button" data-action="toggle#toggleChild" data-toggle-target="button" data-parent-id="{{ assignee.key }}">+</button></td>
                        {% for sprint in sprints %}
                            {% if assignee.sprintSums.containsKey(sprint.sprintId) %}
                                <td class="table-cell-heading">
                                    {{ assignee.sprintSums.get(sprint.sprintId).sumHours }}
                                </td>
                            {% else %}
                                <td class="table-cell-heading"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for issue in assignee.issues %}
                        <tr data-toggle-target="child" data-parent-id="{{ assignee.key }}">
                            <td class="table-cell"></td>
                            <td class="table-cell"><a href="{{ issue.link }}" class="link">{{ issue.key }}</a>: {{ issue.displayName }}</td>
                            {% for sprint in sprints %}
                                {% if issue.sprintId == sprint.sprintId %}
                                    <td class="table-cell-heading">
                                        {{ issue.remainingHours ?? 'UE' }}
                                    </td>
                                {% else %}
                                    <td class="table-cell-heading"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
