{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    <div class="selections">
        {{ form_start(form) }}
        {{ form_row(form.dataProvider) }}
        <button class="button m-5">{{ 'planning.search'|trans }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
