{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.dataProvider) }}
        {{ form_row(form.viewType) }}
        <div>
            <button class="button form-element">{{ 'planning.search'|trans }}</button>
        </div>
        {{ form_end(form) }}

{% endblock %}
