{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    <div class="content">
        <div class="mt-3 mb-3">
            {{ 'planning.description'|trans }}
        </div>

        <div class="actions">
            <a class="btn-primary" href="{{ path('app_planning_users', {}|merge(view is defined ? {view: view} : {})) }}">{{ 'navigation.planning_users'|trans }}</a>
            <a class="btn-primary" href="{{ path('app_planning_projects', {}|merge(view is defined ? {view: view} : {})) }}">{{ 'navigation.planning_projects'|trans }}</a>
        </div>
    </div>
{% endblock %}
