{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.dataProvider) }}
    <div>
        <button class="button form-element">{{ 'planning.search'|trans }}</button>
    </div>
    {{ form_end(form) }}

    {% if error is not null %}
        {{ include('components/alert.html.twig', {level: 'danger', text: error}) }}
    {% endif %}
    {% if planningData is not null %}
        <div class="planning-wrapper loading" {{ stimulus_controller('loader') }}>

            {% set weeks = planningData.weeks %}
            {% set assignees = planningData.assignees %}
            {% set projects = planningData.projects %}

            {% if mode is defined %}
                {{ include('planning/' ~ mode ~ '.html.twig') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
