{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    {% if error is not null %}
        {{ include('components/alert.html.twig', {level: 'danger', text: error}) }}
    {% endif %}

    {% if planningData is not null %}
        {% set weeks = planningData.weeks %}
        {% set assignees = planningData.assignees %}
        {% set projects = planningData.projects %}

        <div class="planning-wrapper loading" {{ stimulus_controller('loader') }}>
            {{ include('planning/' ~ mode|default('users') ~ '.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
