{% extends 'base.html.twig' %}

{% block title %}
    {{ 'planning.title'|trans }}
{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    {% if planningData is not null %}
        <div class="planning-wrapper">
            <style>
                td.high {
                    background-color: #eb886f;
                }

                td.success {
                    background-color: #2fb1a2;
                }
            </style>

            {% set svg_expand %}
            <svg class="planning-svg" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"></path>
            </svg>
            {% endset %}
            {% set svg_hide %}
            <svg class="planning-svg" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"></path>
            </svg>
            {% endset %}

            {% set sprints = planningData.sprints %}
            {% set assignees = planningData.assignees %}
            {% set projects = planningData.projects %}

            <h3 class="subheading">{{ 'planning.assignees'|trans }}</h3>
            <div {{ stimulus_controller('show-hide') }} data-storage-key="hidePlanningAssignees">
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="table-td"></th>
                            <th class="table-td"></th>
                            {% for sprint in sprints %}
                                <th class="table-td-heading" style="white-space: nowrap;">{{ sprint.displayName }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% for assignee in assignees %}
                        <tbody {{ stimulus_controller('toggle-parent-child') }} data-toggle-id="{{ assignee.key }}" {{ stimulus_target('show-hide', 'entry') }}>
                            <tr class="table-tr">
                                <td class="table-td-heading">
                                    <span>{{ assignee.displayName }}</span>
                                    <span class="float-right">
                                        <button class="mr-2" type="button" {{ stimulus_action('show-hide', 'toggleEntry') }} data-toggle-id="{{ assignee.key }}" data-toggle-target="button" style="width: 16px;">
                                            {{ svg_hide }}
                                        </button>
                                        <button type="button" {{ stimulus_action('toggle-parent-child', 'toggleParent') }} data-toggle-target="button" style="width: 16px;">
                                            {{ svg_expand }}
                                        </button>
                                    </span>
                                </td>
                                <td></td>
                                {% for sprint in sprints %}
                                    {% if assignee.sprintSums.containsKey(sprint.sprintId) %}
                                        {% set res = assignee.sprintSums.get(sprint.sprintId).sumHours %}
                                        <td class="table-td-heading{{ res < sprint.sprintGoalLow ? ' low' : '' }}{{ res >= sprint.sprintGoalLow and res <= sprint.sprintGoalHigh ? ' success' : '' }}{{ res > sprint.sprintGoalHigh ? ' high' : '' }}">
                                            {{ res }}
                                        </td>
                                    {% else %}
                                        <td class="table-td-heading"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% for project in assignee.projects %}
                                <tr {{ stimulus_target('toggle-parent-child', 'parent') }} class="table-tr">
                                    <td class="table-td"></td>
                                    <td class="table-td-heading">{{ project.displayName }}<span></span>
                                        <button class="float-right" type="button" {{ stimulus_action('toggle-parent-child', 'toggleChild') }} {{ stimulus_target('toggle-parent-child', 'button') }} data-parent-id="{{ project.key }}" style="width: 16px;">
                                            {{ svg_expand }}
                                        </button>
                                    </td>
                                    {% for sprint in sprints %}
                                        {% if project.sprintSums.containsKey(sprint.sprintId) %}
                                            <td class="table-td-heading">
                                                {{ project.sprintSums.get(sprint.sprintId).sumHours }}
                                            </td>
                                        {% else %}
                                            <td class="table-td-heading"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% for issue in project.issues %}
                                    <tr {{ stimulus_target('toggle-parent-child', 'child') }} data-parent-id="{{ project.key }}">
                                        <td class="table-td"></td>
                                        <td class="table-td">
                                            <a href="{{ issue.link }}" class="link">{{ issue.key }}</a>:
                                            {{ issue.displayName }}
                                        </td>
                                        {% for sprint in sprints %}
                                            {% if issue.sprintId == sprint.sprintId %}
                                                <td class="table-td-heading">
                                                    {{ issue.remainingHours ?? 'UE' }}
                                                </td>
                                            {% else %}
                                                <td class="table-td-heading"></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>

                <div>
                    {{ 'planning.hidden-entries'|trans }}:
                    <span {{ stimulus_target('show-hide', 'hiddenEntries') }}></span>
                </div>
            </div>

            <h3 class="subheading">{{ 'planning.projects'|trans }}</h3>
            <div>
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="table-td"></th>
                            <th class="table-td"></th>
                            {% for sprint in sprints %}
                                <th class="table-td-heading" style="white-space: nowrap;">{{ sprint.displayName }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% for project in projects %}
                        <tbody {{ stimulus_controller('toggle-parent-child') }}>
                            <tr class="table-tr">
                                <td class="table-td-heading">
                                    {{ project.displayName }}<span></span>
                                    <button class="float-right" type="button" {{ stimulus_action('toggle-parent-child', 'toggleParent') }} {{ stimulus_target('toggle-parent-child', 'button') }}>
                                        {{ svg_expand }}
                                    </button>
                                </td>
                                <td></td>
                                {% for sprint in sprints %}
                                    {% if project.sprintSums.containsKey(sprint.sprintId) %}
                                        {% set res = project.sprintSums.get(sprint.sprintId).sumHours %}
                                        <td class="table-td-heading">
                                            {{ res }}
                                        </td>
                                    {% else %}
                                        <td class="table-td-heading"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% for assignee in project.assignees %}
                                <tr {{ stimulus_target('toggle-parent-child', 'parent') }} class="table-tr">
                                    <td class="table-td"></td>
                                    <td class="table-td-heading">
                                        {{ assignee.displayName }}<span></span>
                                        <button class="float-right" type="button" {{ stimulus_action('toggle-parent-child', 'toggleChild') }} {{ stimulus_target('toggle-parent-child', 'button') }} data-parent-id="{{ assignee.key }}">
                                            {{ svg_expand }}
                                        </button>
                                    </td>
                                    {% for sprint in sprints %}
                                        {% if assignee.sprintSums.containsKey(sprint.sprintId) %}
                                            <td class="table-td-heading">
                                                {{ assignee.sprintSums.get(sprint.sprintId).sumHours }}
                                            </td>
                                        {% else %}
                                            <td class="table-td-heading"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% for issue in assignee.issues %}
                                    <tr {{ stimulus_target('toggle-parent-child', 'child') }} data-parent-id="{{ assignee.key }}">
                                        <td class="table-td"></td>
                                        <td class="table-td">
                                            <a href="{{ issue.link }}" class="link">{{ issue.key }}</a>:
                                            {{ issue.displayName }}
                                        </td>
                                        {% for sprint in sprints %}
                                            {% if issue.sprintId == sprint.sprintId %}
                                                <td class="table-td-heading">
                                                    {{ issue.remainingHours ?? 'UE' }}
                                                </td>
                                            {% else %}
                                                <td class="table-td-heading"></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
