{% extends 'base.html.twig' %}

{% block title %}{{ 'planning.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'planning.title'|trans }}</h1>

    {% if planningData is not null %}
        <div class="planning-wrapper">
            <style>
                td {
                    text-align: center;
                    height: 80px;
                    position: relative;
                }
                th:empty, td:empty {
                    padding: 0;
                }
                td.table-cell-heading.nowrap {
                    white-space: nowrap;
                    font-size: 15px;
                    text-align: left;
                    padding-left: 10px;
                    min-width: 100px;
                }
                td .expand-btn {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                }
                td .hide-btn {
                        position: absolute;
                        left: 5px;
                        bottom: 5px;
                }
                td.high {
                    color: #000;
                    background-color: #eb886f;
                }
                span.high {
                    color: #eb886f;
                }

                td.success {
                    background-color: #2fb1a2;
                }
                span.success {
                    color: #2fb1a2;
                }
                th[data-span]:after {
                    font-family: monospace;
                    content: attr(data-span);
                    display: block;
                    font-size: 11px;
                    font-weight: 100;
                }
            </style>

            {% set svgExpand %}
                <svg class="planning-svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"></path>
                </svg>
            {% endset %}
            {% set svgHide %}
                <svg class="planning-svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"></path>
                </svg>
            {% endset %}

            {% set weeks = planningData.weeks %}
            {% set assignees = planningData.assignees %}
            {% set projects = planningData.projects %}

            <h3 class="subheading">{{ 'planning.assignees'|trans }}</h3>
            <div {{ stimulus_controller('show-hide') }} data-storage-key="hidePlanningAssignees">
                <table class="table-auto">
                    <thead>
                    <tr>
                        <th class="table-cell"></th>
                        <th class="table-cell"></th>
                        {% for week in weeks %}
                            <th class="table-cell-heading" data-span="{{week.dateSpan}}" style="white-space: nowrap;">{{ week.displayName }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for assignee in assignees %}
                        <tbody {{ stimulus_controller('toggle-parent-child') }}
                                data-toggle-id="{{ assignee.key }}" {{ stimulus_target('show-hide', 'entry') }}>
                        <tr class="table-row">
                            <td class="table-cell-heading nowrap">
                                <span>{{ assignee.displayName }}</span>
                            <button class="mr-2 hide-btn" type="button"
                                    {{ stimulus_action('show-hide', 'toggleEntry') }}
                                    data-toggle-id="{{ assignee.key }}"
                                    data-toggle-target="button" style="width: 16px;">
                                {{ svgHide }}
                            </button>
                            <button class="expand-btn" type="button"
                                    {{ stimulus_action('toggle-parent-child', 'toggleParent') }}
                                    data-toggle-target="button" style="width: 16px;">
                                {{ svgExpand }}
                            </button>
                            </td>
                            <td></td>
                            {% for week in weeks %}
                            {% set res = null %}

                            {% for weekNumber in week.weekCollection %}
                                {% if assignee.sprintSums.containsKey(weekNumber) %}
                                    {% set res = assignee.sprintSums.get(weekNumber).sumHours %}
                                {% endif %}
                            {% endfor %}
                            <td class="table-cell-heading
                                {{ res < week.sprintGoalLow ? 'low' : '' }}
                                {{ res >= week.sprintGoalLow and res <= week.sprintGoalHigh ? 'success' : '' }}
                                {{ res > week.sprintGoalHigh ? 'high' : '' }}">
                                {{ res }}
                            </td>
                        {% endfor %}
                        </tr>
                        {% for project in assignee.projects %}
                            <tr {{ stimulus_target('toggle-parent-child', 'parent') }} class="table-row">
                                <td class="table-cell"></td>
                                <td class="table-cell-heading nowrap">{{ project.displayName }}<span> </span>
                                    <button class="float-right expand-btn" type="button"
                                            {{ stimulus_action('toggle-parent-child', 'toggleChild') }}
                                            {{ stimulus_target('toggle-parent-child', 'button') }}
                                            data-parent-id="{{ project.key }}" style="width: 16px;">
                                        {{ svgExpand }}
                                    </button>
                                </td>
                                {% for week in weeks %}
                                    <td class="table-cell-heading">
                                        {% for weekNumber in week.weekCollection %}
                                            {% if project.sprintSums.containsKey(weekNumber) %}
                                                    {{ project.sprintSums.get(weekNumber).sumHours }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% for issue in project.issues %}
                                <tr {{ stimulus_target('toggle-parent-child', 'child') }}
                                        data-parent-id="{{ project.key }}">
                                    <td class="table-cell"></td>
                                    <td class="table-cell"><a href="{{ issue.link }}"
                                                              class="link">#{{ issue.key }}</a><br> {{ issue.displayName }}
                                    </td>
                                    {% for week in weeks %}
                                        <td class="table-cell-heading">
                                            {% for weekNumber in week.weekCollection %}
                                                {% if issue.sprintId == weekNumber %}
                                                    {{ issue.remainingHours ?? 'UE' }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>

                <div>
                    {{ 'planning.hidden-entries'|trans }}:
                    <span {{ stimulus_target('show-hide', 'hiddenEntries') }}></span>
                </div>
            </div>

            <h3 class="subheading">{{ 'planning.projects'|trans }}</h3>
            <div>
                <table class="table-auto">
                    <thead>
                    <tr>
                        <th class="table-cell"></th>
                        <th class="table-cell"></th>
                        {% for week in weeks %}
                            <th class="table-cell-heading" data-span="{{week.dateSpan}}" style="white-space: nowrap;">{{ week.displayName }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for project in projects %}
                        <tbody {{ stimulus_controller('toggle-parent-child') }}>
                        <tr class="table-row">
                            <td class="table-cell-heading nowrap">
                                {{ project.displayName }}<span> </span>
                            <button class="expand-btn" type="button"
                                    {{ stimulus_action('toggle-parent-child', 'toggleParent') }}
                                    data-toggle-target="button" style="width: 16px;">
                                {{ svgExpand }}
                            </button>
                            </td>
                            <td></td>
                            {% for week in weeks %}
                                <td class="table-cell-heading">
                                    {% set res = null %}
                                    {% for weekNumber in week.weekCollection %}
                                        {% if project.sprintSums.containsKey(weekNumber) %}
                                             {% set res = (res + project.sprintSums.get(weekNumber).sumHours) %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ res }}
                                </td>
                            {% endfor %}
                        </tr>
                        {% for assignee in project.assignees %}
                            <tr {{ stimulus_target('toggle-parent-child', 'parent') }} class="table-row">
                                <td class="table-cell"></td>
                                <td class="table-cell-heading nowrap">
                                    {{ assignee.displayName }}<span> </span>
                                    <button class="float-right expand-btn" type="button"
                                            {{ stimulus_action('toggle-parent-child', 'toggleChild') }}
                                            {{ stimulus_target('toggle-parent-child', 'button') }}
                                              data-parent-id="{{ assignee.key }}" style="width: 16px;">
                                        {{ svgExpand }}
                                    </button>
                                </td>
                                {% for week in weeks %}
                                    <td class="table-cell-heading">
                                        {% for weekNumber in week.weekCollection %}
                                            {% if assignee.sprintSums.containsKey(weekNumber) %}
                                                    {{ assignee.sprintSums.get(weekNumber).sumHours }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% for issue in assignee.issues %}
                                <tr {{ stimulus_target('toggle-parent-child', 'child') }}
                                        data-parent-id="{{ assignee.key }}">
                                    <td class="table-cell"></td>
                                    <td class="table-cell"><a href="{{ issue.link }}"
                                                              class="link">#{{ issue.key }}</a> <br> {{ issue.displayName }}
                                    </td>
                                    {% for week in weeks %}
                                        <td class="table-cell-heading">
                                            {% for weekNumber in week.weekCollection %}
                                                {% if issue.sprintId == weekNumber %}
                                                    {{ issue.remainingHours ?? 'UE' }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
