{% extends 'base.html.twig' %}

{% set title = ('planning.titles.' ~ mode|default('users'))|trans %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% embed 'components/page-header.html.twig' with {
        title: title|trans(),
    } %}
        {% block actions %}
            <div {{ stimulus_controller('sync-id') }} class="flex flex-row"
                data-update-endpoint="{{ path('app_planning_issues_sync') }}"
                data-options-endpoint="{{ path('app_planning_projects_list') }}">
                <label aria-label="{{ 'planning.sync-project-select'|trans }}" class="form-choices" style="width: 200px">
                    <select class="form-element" {{ stimulus_target('sync-id', 'select') }} ></select>
                </label>
                <button class="button ml-3" {{ stimulus_action('sync-id', 'sync') }} {{ stimulus_target('sync-id', 'button') }}>
                    <span class="sync-text" {{ stimulus_target('sync-id', 'text') }}></span>
                    {{ 'planning.sync_all_issues_action'|trans }}
                </button>
            </div>
        {% endblock %}
    {% endembed %}

    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

    {% if planningData is not null %}
        {% set weeks = planningData.weeks %}
        {% set assignees = planningData.assignees %}
        {% set projects = planningData.projects %}

        <div class="planning-wrapper loading" {{ stimulus_controller('loader') }}>
            {{ include('planning/' ~ mode|default('users') ~ '.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
