<div class="overflow-x-auto" {{ stimulus_controller('show-hide') }} data-storage-key="hidePlanningAssignees">
    <table class="table-auto w-full border-separate border-spacing-0 border border-slate-600 relative">
        <thead>
            <tr>
                <th class="text-left px-2 sticky left-0 z-10 border border-slate-600 bg-slate-100 dark:bg-slate-700 py-3">{{ 'planning.assignees'|trans }}</th>
                {% for week in weeks %}
                    <th class="text-center px-3 py-3 border border-slate-600  {{ week.activeSprint is defined and week.activeSprint ? 'bg-slate-300 dark:bg-slate-800' : 'bg-slate-100 dark:bg-slate-700' }}" data-span="{{ week.dateSpan }}">{{ week.displayName }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for assignee in assignees %}
            <tbody {{ stimulus_controller('toggle-parent-child') }} data-toggle-id="{{ assignee.key }}" {{ stimulus_target('show-hide', 'entry') }}>
            <tr>
                <th class="text-left py-2 px-2 sticky left-0 z-10 whitespace-nowrap border border-slate-600 bg-slate-100 dark:bg-slate-900">
                    <div class="flex flex-row">
                        <span class="flex-grow mr-3">
                            {{ assignee.displayName }}
                        </span>
                        <button class="hide-btn mr-3 w-4" type="button" {{ stimulus_action('show-hide', 'toggleEntry') }} data-toggle-id="{{ assignee.key }}" data-toggle-name="{{ assignee.displayName }}" data-toggle-target="button">
                            {{ svg_hide }}
                        </button>
                        <button class="expand-btn mr-3 w-4" type="button" {{ stimulus_action('toggle-parent-child', 'toggleParent') }} data-toggle-target="button">
                            {{ svg_expand }}
                        </button>
                    </div>
                </th>
                {% for week in weeks %}
                    {% set res = null %}

                    {% for week_number in week.weekCollection %}
                        {% if assignee.sprintSums.containsKey(week_number) %}
                            {% set res = assignee.sprintSums.get(week_number).sumHours %}
                        {% endif %}
                    {% endfor %}
                    <td class="text-right px-3 border border-slate-600

                        {{ week.activeSprint is defined and week.activeSprint ? 'bg-slate-300 dark:bg-slate-800' : '' }}

                        {{ res < week.weekGoalLow ? 'bg-transperent' : '' }}
                        {{ res >= week.weekGoalLow and res <= week.weekGoalHigh ? 'bg-green-600' : '' }}
                        {{ res > week.weekGoalHigh ? 'bg-orange-500' : '' }}
                    ">
                        {{ res }}
                    </td>
                {% endfor %}
            </tr>
            {% for project in assignee.projects %}
                <tr {{ stimulus_target('toggle-parent-child', 'parent') }}>
                    <td class="border border-slate-600">
                        <div class="flex flex-row">
                            <span class="flex-grow mr-3">
                                {{ project.displayName }}
                            </span>
                            <button
                                class="expand-btn mr-3"
                                type="button"
                                data-parent-id="{{ project.key }}"
                                {{ stimulus_action('toggle-parent-child', 'toggleChild') }}
                                {{ stimulus_target('toggle-parent-child', 'button') }}
                                >
                                {{ svg_expand }}
                            </button>
                        </div>
                    </td>
                    {% for week in weeks %}
                        <td class="border border-slate-600">
                            {% for week_number in week.weekCollection %}
                                {% if project.sprintSums.containsKey(week_number) %}
                                    {{ project.sprintSums.get(week_number).sumHours }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% for issue in project.issues %}
                    <tr {{ stimulus_target('toggle-parent-child', 'child') }} data-parent-id="{{ project.key }}">
                        <td class="border border-slate-600">
                            {{ issue.displayName }} <a href="{{ issue.link }}" target="_blank" class="link">#{{ issue.key }}</a>
                        </td>
                        {% for week in weeks %}
                            <td class="border border-slate-600">
                                {% for week_number in week.weekCollection %}
                                    {% if issue.sprintId == week_number %}
                                        {{ issue.remainingHours ?? 'UE' }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <div class="mt-3">
        {{ 'planning.hidden-entries'|trans }}:
        <span {{ stimulus_target('show-hide', 'hiddenEntries') }}></span>
    </div>
</div>
