<h3 class="subheading">{{ 'planning.assignees'|trans }}</h3>
<div {{ stimulus_controller('show-hide') }} data-storage-key="hidePlanningAssignees">
    <table class="table-auto">
        <thead>
        <tr>
            <th class="table-td"></th>
            <th class="table-td"></th>
            {% for week in weeks %}
                <th class="table-td-heading {{ week.activeSprint is defined and week.activeSprint ? 'active' : '' }}" data-span="{{ week.dateSpan }}" style="white-space: nowrap;">{{ week.displayName }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for assignee in assignees %}
            <tbody {{ stimulus_controller('toggle-parent-child') }} data-toggle-id="{{ assignee.key }}" {{ stimulus_target('show-hide', 'entry') }}>
            <tr class="table-tr">
                <td class="table-td-heading nowrap">
                    <span>{{ assignee.displayName }}</span>
                    <button class="mr-2 hide-btn" type="button" {{ stimulus_action('show-hide', 'toggleEntry') }} data-toggle-id="{{ assignee.key }}" data-toggle-name="{{ assignee.displayName }}" data-toggle-target="button" style="width: 16px;">
                        {{ svg_hide }}
                    </button>
                    <button class="expand-btn" type="button" {{ stimulus_action('toggle-parent-child', 'toggleParent') }} data-toggle-target="button" style="width: 16px;">
                        {{ svg_expand }}
                    </button>
                </td>
                <td></td>
                {% for week in weeks %}
                    {% set res = null %}

                    {% for week_number in week.weekCollection %}
                        {% if assignee.sprintSums.containsKey(week_number) %}
                            {% set res = assignee.sprintSums.get(week_number).sumHours %}
                        {% endif %}
                    {% endfor %}
                    <td class="table-td-heading
                        {{ res < week.weekGoalLow ? 'low' : '' }}
                        {{ res >= week.weekGoalLow and res <= week.weekGoalHigh ? 'success' : '' }}
                        {{ res > week.weekGoalHigh ? 'high' : '' }}">
                        {{ res }}
                    </td>
                {% endfor %}
            </tr>
            {% for project in assignee.projects %}
                <tr {{ stimulus_target('toggle-parent-child', 'parent') }} class="table-tr">
                    <td class="table-td"></td>
                    <td class="table-td-heading nowrap">{{ project.displayName }}<span></span>
                        <button class="float-right expand-btn" type="button" {{ stimulus_action('toggle-parent-child', 'toggleChild') }} {{ stimulus_target('toggle-parent-child', 'button') }} data-parent-id="{{ project.key }}" style="width: 16px;">
                            {{ svg_expand }}
                        </button>
                    </td>
                    {% for week in weeks %}
                        <td class="table-td-heading">
                            {% for week_number in week.weekCollection %}
                                {% if project.sprintSums.containsKey(week_number) %}
                                    {{ project.sprintSums.get(week_number).sumHours }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% for issue in project.issues %}
                    <tr {{ stimulus_target('toggle-parent-child', 'child') }} data-parent-id="{{ project.key }}">
                        <td class="table-td"></td>
                        <td class="table-td">
                            <a href="{{ issue.link }}" target="_blank" class="link">#{{ issue.key }}</a><br>
                            {{ issue.displayName }}
                        </td>
                        {% for week in weeks %}
                            <td class="table-td-heading">
                                {% for week_number in week.weekCollection %}
                                    {% if issue.sprintId == week_number %}
                                        {{ issue.remainingHours ?? 'UE' }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <div>
        {{ 'planning.hidden-entries'|trans }}:
        <span {{ stimulus_target('show-hide', 'hiddenEntries') }}></span>
    </div>
</div>
