<aside {{ stimulus_controller('navigation') }} class="h-full">
    <div id="main-menu" class="sticky top-0 p-4 md:w-64">
        <a href="{{ path('index', {}|merge(view is defined ? {view: view} : {})) }}" class="flex items-center mb-5">
            <img src="{{ asset('img/itk-economics.png') }}" class="mx-1" alt="{{ 'navigation.title'|trans }}" />
        </a>

        {{ render(controller('App\\Controller\\ViewController::viewSelector')) }}

        <ul class="flex flex-col overflow-hidden gap-y-1 mt-4">
            {% include 'components/navigation-item.html.twig' with {icon: 'home', title: 'navigation.home'|trans, role: 'ROLE_USER', route: path('index', {}|merge(view is defined ? {view: view} : {}))} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'invoice', title: 'navigation.invoices'|trans, role: 'ROLE_INVOICE', route: path('app_invoices_index', {}|merge(view is defined ? {view: view} : {}))} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'project-billing', title: 'navigation.project_billing'|trans, role: 'ROLE_PROJECT_BILLING', route: path('app_project_billing_index', {}|merge(view is defined ? {view: view} : {}))} %}
            {% if is_granted('ROLE_PLANNING') %}
                <li>
                    <a class="navigation-item collapsible" href="{{ path('app_planning', {}|merge(view is defined ? {view: view} : {})) }}">
                        {% include 'components/icons.html.twig' with {icon: 'report', class: "w-6 h-6"} %}
                        <span class="flex-1 ml-3 whitespace-nowrap">{{ 'navigation.planning'|trans }}</span>
                    </a>
                    <ul class="navigation-item-submenu">
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.planning_users'|trans, role: 'ROLE_PLANNING', route: path('app_planning_users', {}|merge(view is defined ? {view: view} : {}))} %}
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.planning_projects'|trans, role: 'ROLE_PLANNING', route: path('app_planning_projects', {}|merge(view is defined ? {view: view} : {}))} %}
                    </ul>
                </li>
            {% endif %}
            {% include 'components/navigation-item.html.twig' with {icon: 'product', title: 'navigation.products'|trans, role: 'ROLE_PRODUCT_MANAGER', route: path('app_product_index', {}|merge(view is defined ? {view: view} : {}))} %}

            {% if is_granted('ROLE_REPORT') %}
            <li>
                <a class="navigation-item collapsible" href="{{ path('app_reports_index', {}|merge(view is defined ? {view: view} : {})) }}">
                  {% include 'components/icons.html.twig' with {icon: 'report', class: "w-6 h-6"} %}
                  <span class="flex-1 ml-3 whitespace-nowrap">{{ 'navigation.reporting'|trans }}</span>
                </a>
                <ul class="navigation-item-submenu">
                  {% include 'components/navigation-item.html.twig' with {title: 'navigation.sprint_report'|trans, role: 'ROLE_REPORT', route: path('app_sprint_report', {}|merge(view is defined ? {view: view} : {}))} %}
                  {% include 'components/navigation-item.html.twig' with {title: 'navigation.management_report'|trans, role: 'ROLE_REPORT', route: path('app_management_reports_create', {}|merge(view is defined ? {view: view} : {}))} %}
                  {% include 'components/navigation-item.html.twig' with {title: 'navigation.team_report'|trans, role: 'ROLE_REPORT', route: path('app_team_reports_create', {}|merge(view is defined ? {view: view} : {}))} %}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="navigation-item collapsible" {{ stimulus_action('navigation', 'toggle') }}>
                        {% include 'components/icons.html.twig' with {icon: 'collapse', class: "w-6 h-6"} %}
                        <span class="flex-1 ml-3 whitespace-nowrap">{{ 'navigation.admin'|trans }}</span>
                    </a>
                      <ul class="navigation-item-submenu">
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.projects'|trans, role: 'ROLE_ADMIN', route: path('app_project_index', {}|merge(view is defined ? {view: view} : {}))} %}
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.client'|trans, role: 'ROLE_ADMIN', route: path('app_client_index', {}|merge(view is defined ? {view: view} : {}))} %}
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.account'|trans, role: 'ROLE_ADMIN', route: path('app_account_index', {}|merge(view is defined ? {view: view} : {}))} %}
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.user'|trans, role: 'ROLE_ADMIN', route: path('app_user_index', {}|merge(view is defined ? {view: view} : {}))} %}
                        {% include 'components/navigation-item.html.twig' with {title: 'navigation.views'|trans, role: 'ROLE_ADMIN', route: path('app_view_list', {}|merge(view is defined ? {view: view} : {}))} %}
                    </ul>
                </li>
            {% elseif is_granted('ROLE_PRODUCT_MANAGER') %}
                {% include 'components/navigation-item.html.twig' with {icon: 'project', title: 'navigation.projects'|trans, role: 'ROLE_PRODUCT_MANAGER', route: path('app_project_index', {}|merge(view is defined ? {view: view} : {}))} %}
            {% endif %}
        </ul>
    </div>
</aside>
