<div class="mt-5 selections pb-2 pt-5 px-5" {{ stimulus_controller('sync-status') }} data-jobqueue="{{ 'sync_status.jobs-in-queue'|trans }}" data-errorqueue="{{ 'sync_status.error-last-day'|trans }}">
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: .25em">
        <div {{ stimulus_target('sync-status', 'queue') }}></div>
        <div {{ stimulus_target('sync-status', 'error') }}></div>
    </div>
</div>
