{% extends 'base.html.twig' %}

{% block title %}{{ 'users.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'users.title'|trans }}</h1>

    {% set numberOfColumns = 4 %}

    {# TODO: Add pagination, sorting and filters #}

    <table class="table margin-bottom">
        <thead class="table-thead">
        <tr>
            <th class="table-th">{{ 'users.id'|trans }}</th>
            <th class="table-th">{{ 'users.name'|trans }}</th>
            <th class="table-th">{{ 'users.email'|trans }}</th>
            {% for role in roles %}
                <th class="table-th">{{ ("roles." ~ role.value)|trans }}</th>
            {% endfor %}
            <th class="table-th">{{ 'users.views'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, user in users %}
            <tr class="{{ index % 2 == 0 ? 'table-tr' : 'table-tr-alt' }}">
                <td class="table-td">{{ user.id }}</td>
                <td class="table-td">{{ user.name }}</td>
                <td class="table-td">{{ user.email }}</td>
                {% for role in roles %}
                    <td class="table-td">
                        <label class="toggle-label" {{ stimulus_controller('key-toggle') }} data-update-url="{{ path('app_user_update_role', {id: user.id}) }}" data-key="{{ role.value }}">
                            <input type="checkbox" value="" class="sr-only peer" {{ stimulus_action('key-toggle', 'toggle') }} {{ stimulus_target('key-toggle', 'checkbox') }} {{ role.value in user.roles ? 'checked' : '' }}>
                            {% include 'components/checkbox.html.twig' %}
                        </label>
                    </td>
                {% endfor %}
                <td class="table-td" {{ stimulus_controller('views') }} data-update-url="{{ path('app_user_set_views', {id: user.id }) }}">
                    <select multiple {{ stimulus_target('views', 'select') }} {{ stimulus_action('views', 'onChange', 'change') }}>
                        {% for view in views %}
                            <option value="{{ view.id }}" {{ view in user.views ? 'selected' : '' }}>{{ view.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% else %}
            <tr class="table-tr">
                <td class="table-td" colspan="{{ numberOfColumns }}">{{ 'users.list_no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
