{% extends 'base.html.twig' %}

{% block title %}{{ 'reports.management-title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'reports.management-title'|trans }}</h1>

    {% if form is not null %}
        {{ form_start(form) }}

        {{ form_row(form.dateFrom) }}
        {{ form_row(form.dateTo) }}

        <button class="button mt-3 mb-3">{{ 'view.action_next'|trans }}</button>
        {{ form_end(form) }}
    {% else %}
        {% include 'components/alert.html.twig' with { text: 'reports.management-no-recorded-invoices'|trans, level: 'warning' } %}
    {% endif %}
{% endblock %}
