{% extends 'base.html.twig' %}

{% set from = dateInterval['dateFrom']|date('d. F Y') %}
{% set to = dateInterval['dateTo']|date('d. F Y') %}

{% block title %}{{ 'reports.management-title-output'|trans({'%from%': from, '%to%': to}) }}{% endblock %}

{% block content %}
    <h1 class="page-title text-xl">{{ 'reports.management-title-output'|trans({'%from%': from, '%to%': to}) }}</h1>

    <div class="content">
      <div>
        <p>
          {{ 'reports.management-description'|trans }}
        </p>
      </div>
      <div class="overflow-x-auto">
        <table class="min-w-full text-left text-sm">
          <thead>
          <tr>
            <th class="px-6 py-4">{{ 'reports.management-year'|trans }}</th>
            <th class="px-6 py-4">{{ 'reports.management-total'|trans }}</th>
            <th class="px-6 py-4">{{ 'reports.management-1st-quarter'|trans }}</th>
            <th class="px-6 py-4">{{ 'reports.management-2nd-quarter'|trans }}</th>
            <th class="px-6 py-4">{{ 'reports.management-3rd-quarter'|trans }}</th>
            <th class="px-6 py-4">{{ 'reports.management-4th-quarter'|trans }}</th>
          </tr>
          </thead>
          <tbody>
            {% for year, year_data in groupedInvoices %}
              <tr>
                <td class="px-6 py-4">
                  {{ year }}
                </td>
                {% for data, invoices in year_data %}
                  {% if data is same as('sum') %}
                    <td class="px-6 py-4">
                      {{ year_data['sum'] }}
                    </td>
                  {% else %}
                    {% set quarter_total = 0 %}
                    {% for invoice in invoices %}
                      {% set quarter_total = quarter_total + invoice.totalPrice %}
                    {% endfor %}
                    <td class="px-6 py-4">
                      {{ quarter_total }}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-3 mb-3">
        <a class="btn-primary" href="{{ path('app_management_reports_output_export', currentQuery) }}">{{ 'reports.management-export-xls'|trans }}</a>
      </div>
    </div>
{% endblock %}
